---
http_interactions:
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&ids=Q264766
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - https=1;nocookies=1
      X-Client-Ip:
      - 94.117.223.220
    body:
      encoding: UTF-8
      string: '{"entities":{"Q264766":{"pageid":256655,"ns":0,"title":"Q264766","lastrevid":289613419,"modified":"2016-01-08T13:24:49Z","type":"item","id":"Q264766","labels":{"zh-hans":{"language":"zh-hans","value":"\u6587\u7fe0\u73ca"},"zh-hant":{"language":"zh-hant","value":"\u6587\u7fe0\u73ca"},"zh-hk":{"language":"zh-hk","value":"\u6587\u7fe0\u73ca"},"zh-cn":{"language":"zh-cn","value":"\u7279\u4e3d\u838e\u00b7\u6885"},"zh-sg":{"language":"zh-sg","value":"\u7279\u4e3d\u838e\u00b7\u6885"},"zh-tw":{"language":"zh-tw","value":"\u6587\u7fe0\u73ca"},"pl":{"language":"pl","value":"Theresa
        May"},"fr":{"language":"fr","value":"Theresa May"},"ru":{"language":"ru","value":"\u041c\u044d\u0439,
        \u0422\u0435\u0440\u0435\u0437\u0430"},"en":{"language":"en","value":"Theresa
        May"},"fi":{"language":"fi","value":"Theresa May"},"it":{"language":"it","value":"Theresa
        May"},"la":{"language":"la","value":"Theresia May"},"de":{"language":"de","value":"Theresa
        May"},"fa":{"language":"fa","value":"\u062a\u0631\u0632\u0627 \u0645\u06cc"},"sco":{"language":"sco","value":"Theresa
        May"},"sv":{"language":"sv","value":"Theresa May"},"zh":{"language":"zh","value":"\u6587\u7fe0\u73ca"},"es":{"language":"es","value":"Theresa
        May"},"uk":{"language":"uk","value":"\u0422\u0435\u0440\u0435\u0437\u0430
        \u041c\u0435\u0439"},"da":{"language":"da","value":"Theresa May"},"yue":{"language":"yue","value":"\u6587\u7fe0\u73ca"},"nds":{"language":"nds","value":"Theresa
        May"},"tr":{"language":"tr","value":"Theresa May"},"en-ca":{"language":"en-ca","value":"Theresa
        May"},"en-gb":{"language":"en-gb","value":"Theresa May"},"nb":{"language":"nb","value":"Theresa
        May"},"nn":{"language":"nn","value":"Theresa May"},"nl":{"language":"nl","value":"Theresa
        May"}},"descriptions":{"en":{"language":"en","value":"British politician"},"it":{"language":"it","value":"politica
        britannica"},"fr":{"language":"fr","value":"politicien britannique"},"de":{"language":"de","value":"britische
        Politikerin und Abgeordnete"},"fa":{"language":"fa","value":"\u0633\u06cc\u0627\u0633\u062a\u200c\u0645\u062f\u0627\u0631
        \u0628\u0631\u06cc\u062a\u0627\u0646\u06cc\u0627\u06cc\u06cc"},"nb":{"language":"nb","value":"britisk
        politiker"},"nn":{"language":"nn","value":"britisk politikar"},"sv":{"language":"sv","value":"brittisk
        politiker"},"da":{"language":"da","value":"britisk politiker"},"nl":{"language":"nl","value":"Brits
        politicus"},"fi":{"language":"fi","value":"brittil\u00e4inen konservatiivipoliitikko"}},"aliases":{"zh":[{"language":"zh","value":"\u7279\u4e3d\u8428\u00b7\u6885"},{"language":"zh","value":"\u7279\u91cc\u838e\u00b7\u6885"},{"language":"zh","value":"\u7279\u96f7\u838e\u00b7\u6885"}],"ru":[{"language":"ru","value":"\u0422\u0435\u0440\u0435\u0437\u0430
        \u041c\u044d\u0439"}],"la":[{"language":"la","value":"Theresa May"}],"sv":[{"language":"sv","value":"May"}],"en":[{"language":"en","value":"Theresa
        Mary May"},{"language":"en","value":"Theresa Mary Brasier"}]},"claims":{"P21":[{"mainsnak":{"snaktype":"value","property":"P21","datavalue":{"value":{"entity-type":"item","numeric-id":6581072},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"q264766$EDAE8C9C-39D5-4915-9AD4-31327B1857BB","rank":"normal","references":[{"hash":"004ec6fbee857649acdbdbad4f97b2c8571df97b","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":48183},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P373":[{"mainsnak":{"snaktype":"value","property":"P373","datavalue":{"value":"Theresa
        May","type":"string"},"datatype":"string"},"type":"statement","id":"q264766$21E77CE7-E4ED-4577-9D79-4B4A4B6F3129","rank":"normal","references":[{"hash":"7eb64cf9621d34c54fd4bd040ed4b61a88c4a1a0","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":328},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P511":[{"mainsnak":{"snaktype":"value","property":"P511","datavalue":{"value":{"entity-type":"item","numeric-id":1480896},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"q264766$4caeff7e-4758-2a42-d12e-c176abe648e0","rank":"normal"}],"P39":[{"mainsnak":{"snaktype":"value","property":"P39","datavalue":{"value":{"entity-type":"item","numeric-id":2484309},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","qualifiers":{"P580":[{"snaktype":"value","property":"P580","hash":"8e7604a430bdec20c62106e4f0686a04ce70b180","datavalue":{"value":{"time":"+2010-05-11T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}],"P1365":[{"snaktype":"value","property":"P1365","hash":"743fef542f8df3ce22d33a515b4fe31245732f49","datavalue":{"value":{"entity-type":"item","numeric-id":332336},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"qualifiers-order":["P580","P1365"],"id":"q264766$b2fcbb0c-4688-7d39-a1d5-e3efba75a35d","rank":"normal","references":[{"hash":"7eb64cf9621d34c54fd4bd040ed4b61a88c4a1a0","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":328},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]},{"mainsnak":{"snaktype":"value","property":"P39","datavalue":{"value":{"entity-type":"item","numeric-id":3315134},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","qualifiers":{"P580":[{"snaktype":"value","property":"P580","hash":"8e7604a430bdec20c62106e4f0686a04ce70b180","datavalue":{"value":{"time":"+2010-05-11T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}],"P582":[{"snaktype":"value","property":"P582","hash":"c225aeba627aa7f37680dbfee450503b37e63a50","datavalue":{"value":{"time":"+2012-09-04T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}],"P1365":[{"snaktype":"value","property":"P1365","hash":"f230386b0d0c92e27f49dfb2f1b3725589aa209c","datavalue":{"value":{"entity-type":"item","numeric-id":234182},"type":"wikibase-entityid"},"datatype":"wikibase-item"}],"P1366":[{"snaktype":"value","property":"P1366","hash":"980cce30fbca24482f31e9e29993119082bfa340","datavalue":{"value":{"entity-type":"item","numeric-id":334261},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"qualifiers-order":["P580","P582","P1365","P1366"],"id":"q264766$3d77a71d-43ba-a274-4a99-1186e8c15c69","rank":"normal","references":[{"hash":"7eb64cf9621d34c54fd4bd040ed4b61a88c4a1a0","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numer[...]
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&ids=Q6581072%7CQ48183%7CQ328%7CQ1480896%7CQ2484309%7CQ332336%7CQ3315134%7CQ234182%7CQ334261%7CQ7444357%7CQ7460544%7CQ337453%7CQ302417%7CQ7460591%7CQ264684%7CQ327716%7CQ7460602%7CQ7460600%7CQ4122316%7CQ300023%7CQ332374%7CQ16707842%7CQ16321336%7CQ291057%7CQ15038174%7CQ5611004%7CQ259961%7CQ128497%7CQ9626%7CQ5%7CQ206855%7CQ145%7CQ208262%7CQ11920%7CQ82955%7CQ18192718%7CQ21084469%7CQ21084470%7CQ21084471%7CQ21084472%7CQ21084473%7CQ1860
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - https=1;nocookies=1
      X-Client-Ip:
      - 94.117.223.220
    body:
      encoding: UTF-8
      string: '{"entities":{"Q6581072":{"pageid":6406650,"ns":0,"title":"Q6581072","lastrevid":291054265,"modified":"2016-01-11T16:03:03Z","type":"item","id":"Q6581072","labels":{"fr":{"language":"fr","value":"f\u00e9minin"},"en":{"language":"en","value":"female"},"fi":{"language":"fi","value":"nainen"},"en-gb":{"language":"en-gb","value":"female"},"sv":{"language":"sv","value":"kvinna"},"cs":{"language":"cs","value":"\u017eena"},"de":{"language":"de","value":"weiblich"},"zh":{"language":"zh","value":"\u5973\u6027"},"zh-hans":{"language":"zh-hans","value":"\u5973\u6027"},"pl":{"language":"pl","value":"kobieta"},"zh-hant":{"language":"zh-hant","value":"\u5973\u6027"},"uk":{"language":"uk","value":"\u0436\u0456\u043d\u043e\u0447\u0430"},"ru":{"language":"ru","value":"\u0436\u0435\u043d\u0441\u043a\u0438\u0439"},"nl":{"language":"nl","value":"vrouwelijk"},"gl":{"language":"gl","value":"muller"},"ko":{"language":"ko","value":"\uc5ec\uc131"},"be-tarask":{"language":"be-tarask","value":"\u0436\u0430\u043d\u043e\u0447\u0430\u044f"},"ja":{"language":"ja","value":"\u5973\u6027"},"es":{"language":"es","value":"femenino"},"pt":{"language":"pt","value":"feminino"},"vi":{"language":"vi","value":"n\u1eef
        gi\u1edbi"},"it":{"language":"it","value":"femmina"},"sl":{"language":"sl","value":"\u017eenski"},"ka":{"language":"ka","value":"\u10db\u10d3\u10d4\u10d3\u10e0\u10dd\u10d1\u10d8\u10d7\u10d8"},"id":{"language":"id","value":"perempuan"},"min":{"language":"min","value":"padusi"},"el":{"language":"el","value":"\u03b3\u03c5\u03bd\u03b1\u03af\u03ba\u03b1"},"ca":{"language":"ca","value":"dona"},"hu":{"language":"hu","value":"n\u0151"},"he":{"language":"he","value":"\u05e0\u05e7\u05d1\u05d4"},"sr":{"language":"sr","value":"\u0436\u0435\u043d\u0441\u043a\u0438"},"be":{"language":"be","value":"\u0436\u0430\u043d\u043e\u0447\u044b"},"nds":{"language":"nds","value":"Fro"},"lv":{"language":"lv","value":"sieviete"},"nb":{"language":"nb","value":"kvinne"},"bn":{"language":"bn","value":"\u09ae\u09b9\u09bf\u09b2\u09be"},"ro":{"language":"ro","value":"femeie"},"pt-br":{"language":"pt-br","value":"feminino"},"ilo":{"language":"ilo","value":"babai"},"bs":{"language":"bs","value":"\u017eenski"},"da":{"language":"da","value":"kvinde"},"fa":{"language":"fa","value":"\u0645\u0624\u0646\u062b"},"nds-nl":{"language":"nds-nl","value":"vrouwe"},"hr":{"language":"hr","value":"\u017eensko"},"eo":{"language":"eo","value":"ina"},"sk":{"language":"sk","value":"\u017eena"},"bg":{"language":"bg","value":"\u0436\u0435\u043d\u0441\u043a\u0438"},"la":{"language":"la","value":"femininus"},"mzn":{"language":"mzn","value":"\u0645\u0624\u0646\u062b"},"th":{"language":"th","value":"\u0e40\u0e1e\u0e28\u0e2b\u0e0d\u0e34\u0e07"},"tr":{"language":"tr","value":"kad\u0131n"},"oc":{"language":"oc","value":"femna"},"nn":{"language":"nn","value":"kvinne"},"en-ca":{"language":"en-ca","value":"female"},"rm":{"language":"rm","value":"feminin"},"yue":{"language":"yue","value":"\u5973"},"zh-cn":{"language":"zh-cn","value":"\u5973\u6027"},"mr":{"language":"mr","value":"\u092e\u0939\u093f\u0932\u093e"},"ar":{"language":"ar","value":"\u0623\u0646\u062b\u0649"},"tl":{"language":"tl","value":"babae"},"yi":{"language":"yi","value":"\u05e0\u05e7\u05d9\u05d1\u05d4"},"ta":{"language":"ta","value":"\u0baa\u0bc6\u0ba3\u0bcd"},"is":{"language":"is","value":"Kvenma\u00f0ur"},"zh-tw":{"language":"zh-tw","value":"\u5973\u6027"},"hy":{"language":"hy","value":"\u056b\u0563\u0561\u056f\u0561\u0576"},"gsw":{"language":"gsw","value":"wiibli"},"ml":{"language":"ml","value":"\u0d38\u0d4d\u0d24\u0d4d\u0d30\u0d40"},"sco":{"language":"sco","value":"female"},"mk":{"language":"mk","value":"\u0436\u0435\u043d\u0441\u043a\u0438"},"zh-hk":{"language":"zh-hk","value":"\u5973\u6027"},"te":{"language":"te","value":"\u0c38\u0c4d\u0c24\u0c4d\u0c30\u0c40"},"tokipona":{"language":"tokipona","value":"meli"},"or":{"language":"or","value":"\u0b2e\u0b39\u0b3f\u0b33\u0b3e"},"sa":{"language":"sa","value":"\u092e\u0939\u093f\u0932\u093e"},"sr-ec":{"language":"sr-ec","value":"\u0436\u0435\u043d\u0441\u043a\u0438"},"sr-el":{"language":"sr-el","value":"\u017eenski"},"fo":{"language":"fo","value":"kvinna"},"kk-cyrl":{"language":"kk-cyrl","value":"\u0442\u0430\u0443\u044b\u049b"},"ksh":{"language":"ksh","value":"Frou
        udder M\u00e4hdsche"},"lb":{"language":"lb","value":"weiblech"},"eu":{"language":"eu","value":"emakumezkoa"},"lez":{"language":"lez","value":"\u043f\u0430\u043f\u0430\u0440\u0438\u043d"},"fy":{"language":"fy","value":"frou"},"scn":{"language":"scn","value":"f\u00ecmmina"},"mg":{"language":"mg","value":"vehivavy"},"et":{"language":"et","value":"naissoost"},"gu":{"language":"gu","value":"\u0ab8\u0acd\u0aa4\u0acd\u0ab0\u0ac0"},"ce":{"language":"ce","value":"\u0437\u0443\u0434\u0430\u0440\u0438\u0439\u043d"},"kl":{"language":"kl","value":"arnaq"},"ne":{"language":"ne","value":"\u092e\u0939\u093f\u0932\u093e"},"sh":{"language":"sh","value":"\u017eena"},"cy":{"language":"cy","value":"benywaidd"},"ckb":{"language":"ckb","value":"\u0645\u06ce"},"jbo":{"language":"jbo","value":"lo
        fetsi"},"ast":{"language":"ast","value":"femen\u00edn"},"lt":{"language":"lt","value":"moteris"}},"descriptions":{"fr":{"language":"fr","value":"\u00e9l\u00e9ment
        \u00e0 utiliser dans P21 pour signifier que la personne est de sexe f\u00e9minin"},"en":{"language":"en","value":"human
        who is female (use with Property:P21 sex or gender). For groups of females
        use with ''''subclass of (P279)''''"},"fi":{"language":"fi","value":"k\u00e4ytet\u00e4\u00e4n
        ominaisuudessa P21 osoittamaan, ett\u00e4 kohteen aihe on naispuolinen"},"en-[...]
- request:
    method: get
    uri: https://raw.githubusercontent.com/everypolitician/wikidata-fetcher/master/lookup.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"3a11979fb35d066d801ccdbff4f0a62766aa0970"'
      Content-Type:
      - text/plain; charset=utf-8
      X-Fastly-Request-Id:
      - 77db1501787480130c11b5d7b9db71eb14ec378c
      Source-Age:
      - '3'
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        ewogICJ3YW50IjogewogICAgIlAxOCI6ICJpbWFnZSIsCiAgICAiUDIxIjog
        ImdlbmRlciIsCiAgICAiUDIxMyI6ICJpZGVudGlmaWVyX19JU05JIiwKICAg
        ICJQMjE0IjogImlkZW50aWZpZXJfX1ZJQUYiLAogICAgIlAyMjciOiAiaWRl
        bnRpZmllcl9fR05EIiwKICAgICJQMjQ0IjogImlkZW50aWZpZXJfX0xDQXV0
        aCIsCiAgICAiUDI0NSI6ICJpZGVudGlmaWVyX19VTEFOIiwKICAgICJQMjY4
        IjogImlkZW50aWZpZXJfX0JORiIsCiAgICAiUDI2OSI6ICJpZGVudGlmaWVy
        X19[...]
