---
http_interactions:
- request:
    method: post
    uri: https://en.wikipedia.org/w/api.php
    body:
      encoding: UTF-8
      string: action=query&format=json&ppprop=wikibase_item&prop=pageprops&redirects=1&titles=Douglas+Adams
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Backend-Timing:
      - D=29308 t=1492789755036075
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 2a00:23c5:18d3:b600:84fe:406e:ff86:e30c
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"pages":{"8091":{"pageid":8091,"ns":0,"title":"Douglas
        Adams","pageprops":{"wikibase_item":"Q42"}}}}}'
  recorded_at: Fri, 21 Apr 2017 15:49:15 GMT
recorded_with: VCR 3.0.3
