---
http_interactions:
- request:
    method: post
    uri: https://en.wikipedia.org/w/api.php
    body:
      encoding: UTF-8
      string: action=query&format=json&ppprop=wikibase_item&prop=pageprops&redirects=1&titles=Douglas+Adams%7CTowel
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Backend-Timing:
      - D=25325 t=1493032703991052
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 5.148.47.8
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"pages":{"8091":{"pageid":8091,"ns":0,"title":"Douglas
        Adams","pageprops":{"wikibase_item":"Q42"}},"165767":{"pageid":165767,"ns":0,"title":"Towel","pageprops":{"wikibase_item":"Q131696"}}}}}'
  recorded_at: Mon, 24 Apr 2017 11:18:24 GMT
recorded_with: VCR 3.0.3
