---
http_interactions:
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&ids=Q11857954
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - https=1;nocookies=1
      X-Client-Ip:
      - 94.117.223.220
    body:
      encoding: UTF-8
      string: '{"entities":{"Q11857954":{"pageid":12990721,"ns":0,"title":"Q11857954","lastrevid":291338977,"modified":"2016-01-12T14:07:45Z","type":"item","id":"Q11857954","labels":{"et":{"language":"et","value":"Enn
        Eesmaa"},"fi":{"language":"fi","value":"Enn Eesmaa"},"en":{"language":"en","value":"Enn
        Eesmaa"}},"descriptions":{},"aliases":{},"claims":{"P373":[{"mainsnak":{"snaktype":"value","property":"P373","datavalue":{"value":"Enn
        Eesmaa","type":"string"},"datatype":"string"},"type":"statement","id":"q11857954$37ADF57F-A9D8-4BC1-9904-C57A871D115D","rank":"normal","references":[{"hash":"3f12e959c196a5a4adc7f7d1ba480c2629b550f8","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":565},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P31":[{"mainsnak":{"snaktype":"value","property":"P31","datavalue":{"value":{"entity-type":"item","numeric-id":5},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q11857954$3904ABA5-8FCA-493A-98CF-AC235655B495","rank":"normal"}],"P21":[{"mainsnak":{"snaktype":"value","property":"P21","datavalue":{"value":{"entity-type":"item","numeric-id":6581097},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q11857954$312046FB-EDF6-4870-B53E-C194AC540793","rank":"normal"}],"P569":[{"mainsnak":{"snaktype":"value","property":"P569","datavalue":{"value":{"time":"+1946-01-01T00:00:00Z","timezone":0,"before":0,"after":0,"precision":9,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"},"type":"statement","id":"Q11857954$897D7E39-B163-4F68-B84A-98382076FF8A","rank":"normal"}],"P106":[{"mainsnak":{"snaktype":"value","property":"P106","datavalue":{"value":{"entity-type":"item","numeric-id":1930187},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q11857954$910AF721-B409-4D0D-80DC-D9BB7AC1B946","rank":"normal"}],"P735":[{"mainsnak":{"snaktype":"value","property":"P735","datavalue":{"value":{"entity-type":"item","numeric-id":5379117},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q11857954$67E60604-51B8-4B42-A28E-CE0DD8DF0C7F","rank":"normal"}],"P39":[{"mainsnak":{"snaktype":"value","property":"P39","datavalue":{"value":{"entity-type":"item","numeric-id":21100241},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q11857954$49F9DFF8-CB86-450F-9A89-FAE79789AE91","rank":"normal"}],"P463":[{"mainsnak":{"snaktype":"value","property":"P463","datavalue":{"value":{"entity-type":"item","numeric-id":20530392},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q11857954$4BA17A28-5098-46F0-B81B-EE840B38CBF8","rank":"normal"},{"mainsnak":{"snaktype":"value","property":"P463","datavalue":{"value":{"entity-type":"item","numeric-id":967549},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q11857954$EAC8E771-F534-42F8-BE67-CAFE5CBFB384","rank":"normal"},{"mainsnak":{"snaktype":"value","property":"P463","datavalue":{"value":{"entity-type":"item","numeric-id":3352921},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q11857954$73358744-2D59-4C40-9A64-A6684C41895F","rank":"normal"},{"mainsnak":{"snaktype":"value","property":"P463","datavalue":{"value":{"entity-type":"item","numeric-id":653547},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q11857954$C10582E3-1EE7-4277-9E84-4FA4EF81E73A","rank":"normal"}],"P18":[{"mainsnak":{"snaktype":"value","property":"P18","datavalue":{"value":"KE
        Enn Eesmaa.jpg","type":"string"},"datatype":"commonsMedia"},"type":"statement","id":"Q11857954$78869E3C-220B-4795-90C9-49277935843B","rank":"normal"}]},"sitelinks":{"commonswiki":{"site":"commonswiki","title":"Category:Enn
        Eesmaa","badges":[]},"etwiki":{"site":"etwiki","title":"Enn Eesmaa","badges":[]},"fiwiki":{"site":"fiwiki","title":"Enn
        Eesmaa","badges":[]}}}},"success":1}'
  recorded_at: Tue, 12 Jan 2016 14:11:48 GMT
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&ids=Q565%7CQ5%7CQ6581097%7CQ1930187%7CQ5379117%7CQ21100241%7CQ20530392%7CQ967549%7CQ3352921%7CQ653547
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - https=1;nocookies=1
      X-Client-Ip:
      - 94.117.223.220
    body:
      encoding: UTF-8
      string: '{"entities":{"Q565":{"pageid":832,"ns":0,"title":"Q565","lastrevid":291208878,"modified":"2016-01-12T01:14:43Z","type":"item","id":"Q565","labels":{"en":{"language":"en","value":"Wikimedia
        Commons"},"ru":{"language":"ru","value":"\u0412\u0438\u043a\u0438\u0441\u043a\u043b\u0430\u0434"},"fr":{"language":"fr","value":"Wikim\u00e9dia
        Commons"},"nl":{"language":"nl","value":"Wikimedia Commons"},"de":{"language":"de","value":"Wikimedia
        Commons"},"es":{"language":"es","value":"Wikimedia Commons"},"da":{"language":"da","value":"Wikimedia
        Commons"},"ceb":{"language":"ceb","value":"Wikimedia Commons"},"af":{"language":"af","value":"Wikimedia
        Commons"},"an":{"language":"an","value":"Wikimedia Commons"},"ang":{"language":"ang","value":"Wikimedia
        Commons"},"ar":{"language":"ar","value":"\u0648\u064a\u0643\u064a\u0645\u064a\u062f\u064a\u0627
        \u0643\u0648\u0645\u0646\u0632"},"arc":{"language":"arc","value":"\u0718\u071d\u0729\u071d\u0721\u071d\u0715\u071d\u0710
        \u0729\u0718\u0721\u0721\u0718\u0722\u0723"},"arz":{"language":"arz","value":"\u0648\u064a\u0643\u064a\u0645\u064a\u062f\u064a\u0627
        \u0643\u0648\u0645\u0648\u0646\u0632"},"as":{"language":"as","value":"\u09f1\u09bf\u0995\u09bf\u09ae\u09bf\u09a1\u09bf\u09af\u09bc\u09be
        \u0995\u09ae\u09a8\u09cd\u09b8"},"ast":{"language":"ast","value":"Wikimedia
        Commons"},"az":{"language":"az","value":"Vikimedia Commons"},"bar":{"language":"bar","value":"Wikimedia
        Commons"},"be":{"language":"be","value":"\u0412\u0456\u043a\u0456\u0421\u0445\u043e\u0432\u0456\u0448\u0447\u0430"},"bg":{"language":"bg","value":"\u041e\u0431\u0449\u043e\u043c\u0435\u0434\u0438\u044f"},"bi":{"language":"bi","value":"Wikimedia
        Commons"},"bjn":{"language":"bjn","value":"Wikimedia Commons"},"bn":{"language":"bn","value":"\u0989\u0987\u0995\u09bf\u09ae\u09bf\u09a1\u09bf\u09af\u09bc\u09be
        \u0995\u09ae\u09a8\u09cd\u09b8"},"br":{"language":"br","value":"Wikimedia
        Commons"},"bs":{"language":"bs","value":"Wikimedia Commons"},"ca":{"language":"ca","value":"Wikimedia
        Commons"},"cdo":{"language":"cdo","value":"Wiki G\u00ea\u0324\u1e73ng-hi\u014dng"},"cs":{"language":"cs","value":"Wikimedia
        Commons"},"cy":{"language":"cy","value":"Comin Wicifryngau"},"eo":{"language":"eo","value":"Vikimedia
        Komunejo"},"et":{"language":"et","value":"Wikimedia Commons"},"eu":{"language":"eu","value":"Wikimedia
        Commons"},"ext":{"language":"ext","value":"Commons"},"fa":{"language":"fa","value":"\u0627\u0646\u0628\u0627\u0631
        \u0648\u06cc\u06a9\u06cc\u200c\u0645\u062f\u06cc\u0627"},"fi":{"language":"fi","value":"Wikimedia
        Commons"},"fur":{"language":"fur","value":"Wikimedia Commons"},"ga":{"language":"ga","value":"C\u00f3mhaoin
        Wikimedia"},"gl":{"language":"gl","value":"Wikimedia Commons"},"gu":{"language":"gu","value":"\u0ab5\u0abf\u0a95\u0abf\u0aae\u0ac0\u0aa1\u0abf\u0aaf\u0abe
        \u0a95\u0ac9\u0aae\u0aa8\u0acd\u0ab8"},"he":{"language":"he","value":"\u05d5\u05d9\u05e7\u05d9\u05e9\u05d9\u05ea\u05d5\u05e3"},"hi":{"language":"hi","value":"\u0935\u093f\u0915\u093f\u092e\u0940\u0921\u093f\u092f\u093e
        \u0915\u0949\u092e\u0928\u094d\u0938"},"hr":{"language":"hr","value":"Zajedni\u010dki
        poslu\u017eitelj"},"hu":{"language":"hu","value":"Wikim\u00e9dia Commons"},"hy":{"language":"hy","value":"\u054e\u056b\u0584\u056b\u057a\u0561\u0570\u0565\u057d\u057f"},"ia":{"language":"ia","value":"Wikimedia
        Commons"},"id":{"language":"id","value":"Wikimedia Commons"},"ig":{"language":"ig","value":"Wikimedia
        Commons"},"ilo":{"language":"ilo","value":"Wikimedia Commons"},"is":{"language":"is","value":"Wikimedia
        Commons"},"it":{"language":"it","value":"Wikimedia Commons"},"ja":{"language":"ja","value":"\u30a6\u30a3\u30ad\u30e1\u30c7\u30a3\u30a2\u30fb\u30b3\u30e2\u30f3\u30ba"},"jv":{"language":"jv","value":"Wikimedia
        Commons"},"ka":{"language":"ka","value":"\u10d5\u10d8\u10d9\u10d8\u10e1\u10d0\u10ec\u10e7\u10dd\u10d1\u10d8"},"kk":{"language":"kk","value":"\u041e\u0440\u0442\u0430\u049b\u049b\u043e\u0440"},"kl":{"language":"kl","value":"Wikimedia
        Commons"},"ko":{"language":"ko","value":"\uc704\ud0a4\ubbf8\ub514\uc5b4 \uacf5\uc6a9"},"ksh":{"language":"ksh","value":"Wikkimedija
        Commons"},"ku":{"language":"ku","value":"Wikimedia Commons"},"la":{"language":"la","value":"Vicimedia
        Communia"},"lt":{"language":"lt","value":"Vikiteka"},"ltg":{"language":"ltg","value":"Vikiteka"},"lv":{"language":"lv","value":"Vikikr\u0101tuve"},"mg":{"language":"mg","value":"Wikimedia
        Commons"},"mhr":{"language":"mhr","value":"\u0412\u0438\u043a\u0438\u043a\u043b\u0430\u0442"},"mi":{"language":"mi","value":"Wikimedia
        Commons"},"mk":{"language":"mk","value":"\u0420\u0438\u0437\u043d\u0438\u0446\u0430"},"ml":{"language":"ml","value":"\u0d35\u0d3f\u0d15\u0d4d\u0d15\u0d3f\u0d2e\u0d40\u0d21\u0d3f\u0d2f
        \u0d15\u0d4b\u0d2e\u0d7a\u0d38\u0d4d"},"mn":{"language":"mn","value":"\u0412\u0438\u043a\u0438\u043c\u0435\u0434\u0438\u0430
        \u041a\u043e\u043c\u043c\u043e\u043d\u0441"},"ms":{"language":"ms","value":"Wikimedia
        Commons"},"mt":{"language":"mt","value":"Wikimedia Commons"},"nds":{"language":"nds","value":"Wikimedia
        Commons"},"ne":{"language":"ne","value":"\u0935\u093f\u0915\u093f\u092e\u0940\u0921\u093f\u092f\u093e
        \u0915\u092e\u0928\u094d\u0938"},"nn":{"language":"nn","value":"Wikimedia
        Commons"},"os":{"language":"os","value":"\u0412\u0438\u043a\u0438\u041a\u044a\u00e6\u0431\u0438\u0446"},"pam":{"language":"pam","value":"Wikimedia
        Commons"},"pl":{"language":"pl","value":"Wikimedia Commons"},"pt":{"language":"pt","value":"Wikimedia
        Commons"},"qu":{"language":"qu","value":"Wikimedia Commons"},"ro":{"language":"ro","value":"Wikimedia
        Commons"},"rue":{"language":"rue","value":"\u0412\u0456\u043a\u0456\u0441\u043a\u043b\u0430\u0434"},"sco":{"language":"sco","value":"Wikimedia
        Commons"},"sh":{"language":"sh","value":"Wikimedia Commons"},"sk":{"language":"sk","value":"Wikimedia
        Commons"},"sl":{"language":"sl","value":"Wikimedijina zbirka"},"so":{"language":"so","value":"Wikimedia
        Commons"},"sq":{"language":"sq","value":"Wikimedia Commons"},"sr":{"language":"sr","value":"\u041e\u0441\u0442\u0430\u0432\u0430
        \u0412\u0438\u043a\u0438\u043c\u0435\u0434\u0438\u0458\u0435"},"su":{"language":"su","value":"Wikimedia
        Commons"},"sv":{"language":"sv","value":"Wikimedia Commons"},"sw":{"language":"sw","value":"Wikimedia
        Commons"},"tg":{"language":"tg","value":"\u0412\u0438\u043a\u0438\u043c\u0435\u0434\u0438\u0430\u0438
        \u0423\u043c\u0443\u043c\u04e3"},"th":{"language":"th","value":"\u0e27\u0e34\u0e01\u0e34\u0e21\u0e35\u0e40\u0e14\u0e35\u0e22\u0e04\u0e2d\u0e21\u0e21\u0e2d\u0e19\u0e2a\u0e4c"},"tl":{"language":"tl","value":"Wikimedia
        Commons"},"tpi":{"language":"tpi","value":"Wikimedia Commons"},"tr":{"language":"tr","value":"Wikimedia
        Commons"},"tt":{"language":"tt","value":"\u0412\u0438\u043a\u0438\u0497\u044b\u0435\u043d\u0442\u044b\u043a"},"uk":{"language":"uk","value":"\u0412\u0456\u043a\u0456\u0421\u0445\u043e\u0432\u0438\u0449\u0435"},"ur":{"language":"ur","value":"\u0648\u06cc\u06a9\u06cc\u0645\u06cc\u0688\u06cc\u0627
        \u0627\u0644\u0639\u0627\u0645"},"uz":{"language":"uz","value":"VikiOmbor"},"vec":{"language":"vec","value":"Wikimedia
        Commons"},"vi":{"language":"vi","value":"Wikimedia Commons"},"war":{"language":"war","value":"Wikimedia
        Commons"},"wuu":{"language":"wuu","value":"\u7ef4\u57fa\u5171\u4eab"},"xmf":{"language":"xmf","value":"\u10d5\u10d8\u10d9\u10d8\u10dd\u10ec\u10d9\u10d0\u10e0\u10e3\u10d4"},"yi":{"language":"yi","value":"\u05d5\u05d5\u05d9\u05e7\u05d9\u05e7\u05d0\u05de\u05d0\u05e0\u05e1"},"yo":{"language":"yo","value":"Wikimedia
        Commons"},"zh":{"language":"zh","value":"\u7ef4\u57fa\u5171\u4eab\u8d44\u6e90"},"en-ca":{"language":"en-ca","value":"Wikimedia
        Commons"},"en-gb":{"language":"en-gb","value":"Wikimedia Commons"},"de-ch":{"language":"de-ch","value":"Wikimedia
        Commons"},"pt-br":{"language":"pt-br","value":"Wikimedia Commons"},"yue":{"language":"yue","value":"\u7dad\u57fa\u540c\u4eab"},"gsw":{"language":"gsw","value":"Wikimedia
        Commons"},"be-tarask":{"language":"be-tarask","value":"\u0412\u0456\u043a\u0456\u0441\u0445\u043e\u0432\u0456\u0448\u0447\u0430"},"ckb":{"language":"ckb","value":"\u0648\u06cc\u06a9\u06cc\u0645\u06cc\u062f\u06cc\u0627
        \u06a9\u06c6\u0645\u0646\u0632"},"zh-hant":{"language":"zh-hant","value":"\u7dad\u57fa\u5171\u4eab\u8cc7\u6e90"},"ta":{"language":"ta","value":"\u0bb5\u0bbf\u0b95\u0bcd\u0b95\u0bbf\u0bae\u0bc0\u0b9f\u0bbf\u0baf\u0bbe
        \u0b95\u0bbe\u0bae\u0ba9\u0bcd\u0bb8\u0bcd"},"oc":{"language":"oc","value":"Wikimedia
        Commons"},"nb":{"language":"nb","value":"Wikimedia Commons"},"zh-hans":{"language":"zh-hans","value":"\u7ef4\u57fa\u5171\u4eab\u8d44\u6e90"},"cv":{"language":"cv","value":"\u0412\u0438\u043a\u0438\u0430\u043c\u043f\u0430\u0440"},"te":{"language":"te","value":"\u0c35\u0c3f\u0c15\u0c40\u0c2a\u0c40\u0c21\u0c3f\u0c2f\u0c3e:\u0c35\u0c3f\u0c15\u0c40\u0c2e\u0c40\u0c21\u0c3f\u0c2f\u0c3e
        \u0c15\u0c3e\u0c2e\u0c28\u0c4d\u0c38\u0c4d"},"pa":{"language":"pa","value":"\u0a35\u0a3f\u0a15\u0a40\u0a2e\u0a40\u0a21\u0a40\u0a06
        \u0a15\u0a3e\u0a2e\u0a28\u0a1c\u0a3c"},"ba":{"language":"ba","value":"\u0412\u0438\u043a\u0438\u04bb\u0430\u04a1\u043b\u0430\u0493\u044b\u0441"},"or":{"language":"or","value":"\u0b09\u0b07\u0b15\u0b3f\u0b2e\u0b3f\u0b21\u0b3c\u0b3f\u0b06\u0b15\u0b2e\u0b28\u0b4d\u0b38"},"el":{"language":"el","value":"Wikimedia
        Commons"},"sgs":{"language":"sgs","value":"Vikit\u0117ka"},"lzh":{"language":"lzh","value":"\u7dad\u57fa\u5171\u4eab"},"km":{"language":"km","value":"\u1797\u17b6\u179f\u17b6\u1781\u17d2\u1798\u17c2\u179a"},"ce":{"language":"ce","value":"\u0412\u0438\u043a\u0438\u0433\u0443\u043b\u0430\u043c"},"zh-cn":{"language":"zh-cn","value":"\u7ef4\u57fa\u5171\u4eab\u8d44\u6e90"},"zh-tw":{"language":"zh-tw","value":"\u7dad\u57fa\u5171\u4eab\u8cc7\u6e90"},"zh-hk":{"language":"zh-hk","value":"\u7dad\u57fa\u5171\u4eab\u8cc7\u6e90"},"zu":{"language":"zu","value":"Wikimedia
        Commons"},"kbd":{"language":"kbd","value":"\u0423\u0438\u043a\u0438\u0441\u0443\u0440\u044d\u0442\u044b\u043b\u044a\u044d"},"av":{"language":"av","value":"\u0412\u0438\u043a\u0438\u0433\u044a\u0430\u043c\u0430\u0441"},"scn":{"language":"scn","value":"Wikimedia
        Commons"},"ky":{"language":"ky","value":"\u0423\u0438\u043a\u0438\u043a\u0430\u0437\u044b\u043d\u0430"},"fy":{"language":"fy","value":"Wikimedia
        Commons"},"mai":{"language":"mai","value":"\u0935\u093f\u0915\u093f\u092e\u093f\u0921\u093f\u092f\u093e
        \u0915\u092e\u0928\u094d\u0938"},"udm":{"language":"udm","value":"Wikimedia
        Commons"},"nan":{"language":"nan","value":"Wikimedia Commons"},"nso":{"language":"nso","value":"Wikimedia
        Commons"},"sd":{"language":"sd","value":"\u0648\u06aa\u064a\u0645\u064a\u068a\u064a\u0627
        \u0627\u0644\u0639\u0627\u0645"}},"descriptions":{"en":{"language":"en","value":"online
        repository of free-use images, sound and other media files, part of the Wikimedia
        Foundation"},"nl":{"language":"nl","value":"een meertalige website die gebruikt
        wordt als centraal archief van Wikimediaprojecten voor afbeeldingen, geluid,
        video en andere bestanden."},"fr":{"language":"fr","value"[...]
