---
http_interactions:
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&ids=Q312013
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Backend-Timing:
      - D=69633 t=1475754627317129
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 5.148.47.8
    body:
      encoding: ASCII-8BIT
      string: '{"entities":{"Q312013":{"pageid":300184,"ns":0,"title":"Q312013","lastrevid":358004223,"modified":"2016-07-17T21:37:48Z","type":"item","id":"Q312013","labels":{"pt":{"language":"pt","value":"Konstant\u00ednos
        Mitsot\u00e1kis"},"zh-hans":{"language":"zh-hans","value":"\u5eb7\u65af\u5766\u4e01\u00b7\u7c73\u4f50\u5854\u57fa\u65af"},"zh-hant":{"language":"zh-hant","value":"\u5eb7\u65af\u5766\u4e01\u00b7\u7c73\u4f50\u5854\u57fa\u65af"},"zh-hk":{"language":"zh-hk","value":"\u5eb7\u65af\u5766\u4e01\u00b7\u7c73\u4f50\u5854\u57fa\u65af"},"zh-cn":{"language":"zh-cn","value":"\u5eb7\u65af\u5766\u4e01\u00b7\u7c73\u4f50\u5854\u57fa\u65af"},"zh-sg":{"language":"zh-sg","value":"\u5eb7\u65af\u5766\u4e01\u00b7\u7c73\u4f50\u5854\u57fa\u65af"},"zh-tw":{"language":"zh-tw","value":"\u5eb7\u65af\u5766\u4e01\u00b7\u7c73\u4f50\u5854\u57fa\u65af"},"pl":{"language":"pl","value":"Konstandinos
        Mitsotakis"},"fr":{"language":"fr","value":"Konstant\u00ednos Mitsot\u00e1kis"},"ru":{"language":"ru","value":"\u041c\u0438\u0446\u043e\u0442\u0430\u043a\u0438\u0441,
        \u041a\u043e\u043d\u0441\u0442\u0430\u043d\u0442\u0438\u043d\u043e\u0441"},"es":{"language":"es","value":"Constantinos
        Mitsotakis"},"en":{"language":"en","value":"Konstantinos Mitsotakis"},"tr":{"language":"tr","value":"Konstantin
        Mitsotakis"},"oc":{"language":"oc","value":"Konstantinos Mitsotakis"},"yo":{"language":"yo","value":"Constantine
        Mitsotakis"},"mk":{"language":"mk","value":"\u041a\u043e\u043d\u0441\u0442\u0430\u043d\u0442\u0438\u043d
        \u041c\u0438\u0446\u043e\u0442\u0430\u043a\u0438\u0441"},"fi":{"language":"fi","value":"Konstantinos
        Mitsotakis"},"uk":{"language":"uk","value":"\u041a\u043e\u043d\u0441\u0442\u0430\u043d\u0442\u0456\u043d\u043e\u0441
        \u041c\u0456\u0446\u043e\u0442\u0430\u043a\u0456\u0441"},"it":{"language":"it","value":"Costantino
        Mitsotakis"},"la":{"language":"la","value":"Constantinus Metsotaces"},"et":{"language":"et","value":"Konstant\u00ednos
        Mitsot\u00e1kis"},"de":{"language":"de","value":"Konstantinos Mitsotakis"},"ja":{"language":"ja","value":"\u30b3\u30f3\u30b9\u30bf\u30f3\u30c7\u30a3\u30ce\u30b9\u30fb\u30df\u30c4\u30a9\u30bf\u30ad\u30b9"},"cs":{"language":"cs","value":"Konstantinos
        Mitsotakis"},"io":{"language":"io","value":"Konstantinos Mitsotakis"},"bg":{"language":"bg","value":"\u041a\u043e\u043d\u0441\u0442\u0430\u043d\u0442\u0438\u043d\u043e\u0441
        \u041c\u0438\u0446\u043e\u0442\u0430\u043a\u0438\u0441"},"el":{"language":"el","value":"\u039a\u03c9\u03bd\u03c3\u03c4\u03b1\u03bd\u03c4\u03af\u03bd\u03bf\u03c2
        \u039c\u03b7\u03c4\u03c3\u03bf\u03c4\u03ac\u03ba\u03b7\u03c2"},"da":{"language":"da","value":"Konstantinos
        Mitsotakis"},"nl":{"language":"nl","value":"Konstantinos Mitsotakis"},"zh":{"language":"zh","value":"\u5eb7\u65af\u5766\u4e01\u00b7\u7c73\u4f50\u5854\u57fa\u65af"},"eu":{"language":"eu","value":"Konstantinos
        Mitsotakis"},"fa":{"language":"fa","value":"\u06a9\u0646\u0633\u062a\u0627\u0646\u062a\u06cc\u0646
        \u0645\u06cc\u062a\u0633\u0648\u062a\u0627\u06a9\u06cc\u0633"},"sv":{"language":"sv","value":"Konstantinos
        Mitsotakis"},"hu":{"language":"hu","value":"Constantinos Mitsotakis"}},"descriptions":{"it":{"language":"it","value":"politico
        greco"},"fr":{"language":"fr","value":"personnalit\u00e9 politique grecque"},"de":{"language":"de","value":"griechischer
        Politiker; Ministerpr\u00e4sident Griechenlands (1990\u20131993)"},"pl":{"language":"pl","value":"polityk
        grecki"},"fa":{"language":"fa","value":"\u0633\u06cc\u0627\u0633\u062a\u200c\u0645\u062f\u0627\u0631
        \u0648 \u062f\u06cc\u067e\u0644\u0645\u0627\u062a \u06cc\u0648\u0646\u0627\u0646\u06cc"},"nb":{"language":"nb","value":"gresk
        diplomat og politiker"},"da":{"language":"da","value":"gr\u00e6sk diplomat
        og politiker"},"sv":{"language":"sv","value":"grekisk diplomat och politiker"},"nn":{"language":"nn","value":"gresk
        diplomat og politikar"},"nl":{"language":"nl","value":"Grieks politicus"},"en":{"language":"en","value":"Greek
        politician"},"el":{"language":"el","value":"\u0388\u03bb\u03bb\u03b7\u03bd\u03b1\u03c2
        \u03c0\u03bf\u03bb\u03b9\u03c4\u03b9\u03ba\u03cc\u03c2"}},"aliases":{"pt":[{"language":"pt","value":"Konstantinos
        Mitsotakis"}],"zh":[{"language":"zh","value":"Konstantinos Mitsotakis"},{"language":"zh","value":"Constantine
        Mitsotakis"}],"pl":[{"language":"pl","value":"Konstantin Mitsotakis"},{"language":"pl","value":"Konstantinos
        Mitsotakis"},{"language":"pl","value":"Constantin Mitsotakis"}],"fr":[{"language":"fr","value":"Konstantinos
        Mitsotakis"},{"language":"fr","value":"Constantin Mitsotakis"},{"language":"fr","value":"Const[...]
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&ids=Q6581097%7CQ11920%7CQ36578%7CQ328%7CQ48183%7CQ423048%7CQ182299%7CQ41%7CQ82955%7CQ11918%7CQ539051%7CQ1343608%7CQ223153%7CQ937927%7CQ16760617%7CQ3561226%7CQ4377230%7CQ318009%7CQ219256%7CQ3112293%7CQ18915989%7CQ12876839%7CQ7783466%7CQ4813465%7CQ16147098%7CQ57806%7CQ983656%7CQ19752714%7CQ20289223%7CQ12879441%7CQ15629904%7CQ16330970%7CQ19904335%7CQ455293%7CQ16327447%7CQ6508538%7CQ562162%7CQ252657%7CQ701080%7CQ3112441%7CQ1371531%7CQ12236394%7CQ12878375%7CQ3112201%7CQ23651608%7CQ16332917%7CQ17279637%7CQ16331142%7CQ547867%7CQ163727
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Backend-Timing:
      - D=1520685 t=1475754627567634
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 5.148.47.8
    body:
      encoding: ASCII-8BIT
      string: '{"entities":{"Q6581097":{"pageid":6406677,"ns":0,"title":"Q6581097","lastrevid":383731374,"modified":"2016-10-04T16:40:06Z","type":"item","id":"Q6581097","labels":{"fr":{"language":"fr","value":"masculin"},"en":{"language":"en","value":"male"},"fi":{"language":"fi","value":"mies"},"en-gb":{"language":"en-gb","value":"male"},"it":{"language":"it","value":"maschio"},"de":{"language":"de","value":"m\u00e4nnlich"},"sv":{"language":"sv","value":"man"},"cs":{"language":"cs","value":"mu\u017e"},"zh":{"language":"zh","value":"\u7537\u6027"},"zh-hans":{"language":"zh-hans","value":"\u7537\u6027"},"pl":{"language":"pl","value":"m\u0119\u017cczyzna"},"zh-hant":{"language":"zh-hant","value":"\u7537\u6027"},"ca":{"language":"ca","value":"home"},"pt-br":{"language":"pt-br","value":"masculino"},"ru":{"language":"ru","value":"\u043c\u0443\u0436\u0441\u043a\u043e\u0439"},"uk":{"language":"uk","value":"\u0447\u043e\u043b\u043e\u0432\u0456\u0447\u0430"},"pt":{"language":"pt","value":"masculino"},"el":{"language":"el","value":"\u03ac\u03bd\u03b4\u03c1\u03b1\u03c2"},"lv":{"language":"lv","value":"v\u012brietis"},"nl":{"language":"nl","value":"mannelijk"},"gl":{"language":"gl","value":"home"},"es":{"language":"es","value":"masculino"},"ko":{"language":"ko","value":"\ub0a8\uc131"},"be-tarask":{"language":"be-tarask","value":"\u043c\u0443\u0436\u0447\u044b\u043d\u0441\u043a\u0430\u044f"},"hu":{"language":"hu","value":"f\u00e9rfi"},"af":{"language":"af","value":"man"},"ja":{"language":"ja","value":"\u7537\u6027"},"eu":{"language":"eu","value":"gizonezkoa"},"he":{"language":"he","value":"\u05d6\u05db\u05e8"},"vi":{"language":"vi","value":"nam
        gi\u1edbi"},"id":{"language":"id","value":"pria"},"min":{"language":"min","value":"laki-laki"},"sl":{"language":"sl","value":"mo\u0161ki"},"ka":{"language":"ka","value":"\u10db\u10d0\u10db\u10e0\u10dd\u10d1\u10d8\u10d7\u10d8"},"fa":{"language":"fa","value":"\u0645\u0630\u06a9\u0631"},"ro":{"language":"ro","value":"b\u0103rbat"},"nb":{"language":"nb","value":"mann"},"be":{"language":"be","value":"\u043c\u0443\u0436\u0447\u044b\u043d\u0441\u043a\u0456"},"da":{"language":"da","value":"mand"},"uz":{"language":"uz","value":"erkak"},"sco":{"language":"sco","value":"male"},"mzn":{"language":"mzn","value":"\u0645\u0630\u06a9\u0631"},"sr":{"language":"sr","value":"\u043c\u0443\u0448\u043a\u0438"},"nds":{"language":"nds","value":"Mann"},"bn":{"language":"bn","value":"\u09aa\u09c1\u09b0\u09c1\u09b7"},"bs":{"language":"bs","value":"mu\u0161ki"},"ilo":{"language":"ilo","value":"lalaki"},"br":{"language":"br","value":"paotr"},"sq":{"language":"sq","value":"mashkull"},"nds-nl":{"language":"nds-nl","value":"man"},"la":{"language":"la","value":"masculinus"},"tr":{"language":"tr","value":"erkek"},"hr":{"language":"hr","value":"mu\u0161ko"},"nn":{"language":"nn","value":"mann"},"bg":{"language":"bg","value":"\u043c\u044a\u0436\u043a\u0438"},"th":{"language":"th","value":"\u0e40\u0e1e\u0e28\u0e0a\u0e32\u0e22"},"gu":{"language":"gu","value":"\u0aaa\u0ac1\u0ab0\u0ac1\u0ab7"},"mr":{"language":"mr","value":"\u092a\u0941\u0930\u0942\u0937"},"eo":{"language":"eo","value":"vira"},"oc":{"language":"oc","value":"\u00f2me"},"ta":{"language":"ta","value":"\u0b86\u0ba3\u0bcd"},"mk":{"language":"mk","value":"\u043c\u0430\u0448\u043a\u0438"},"hi":{"language":"hi","value":"\u092a\u0941\u0930\u0941\u0937"},"en-ca":{"language":"en-ca","value":"male"},"rm":{"language":"rm","value":"masculin"},"yi":{"language":"yi","value":"\u05d6\u05db\u05e8"},"yue":{"language":"yue","value":"\u7537"},"zh-cn":{"language":"zh-cn","value":"\u7537\u6027"},"ar":{"language":"ar","value":"\u0630\u0643\u0631"},"tl":{"language":"tl","value":"lalaki"},"is":{"language":"is","value":"karlma\u00f0ur"},"zh-tw":{"language":"zh-tw","value":"\u7537\u6027"},"ksh":{"language":"ksh","value":"m\u00e4nnlesch"},"sk":{"language":"sk","value":"mu\u017e"},"hy":{"language":"hy","value":"\u0561\u0580\u0561\u056f\u0561\u0576"},"gsw":{"language":"gsw","value":"m\u00e4nnli"},"zh-hk":{"language":"zh-hk","value":"\u7537\u6027"},"te":{"language":"te","value":"\u0c2a\u0c41\u0c30\u0c41\u0c37\u0c41\u0c21\u0c41"},"tokipona":{"language":"tokipona","value":"mije"},"or":{"language":"or","value":"\u0b2a\u0b41\u0b30\u0b41\u0b37"},"ml":{"language":"ml","value":"\u0d2a\u0d41\u0d30\u0d41\u0d37\u0d7b"},"lb":{"language":"lb","value":"m\u00e4nnlech"},"sr-el":{"language":"sr-el","value":"mu\u0161ki"},"et":{"language":"et","value":"meessoost"},"fo":{"language":"fo","value":"ma\u00f0ur"},"lez":{"language":"lez","value":"\u0438\u0442\u0438\u043c\u0434\u0438\u043d"},"fy":{"language":"fy","value":"man"},"scn":{"language":"scn","value":"m\u00e0sculu"},"mg":{"language":"mg","value":"lehilahy"},"ce":{"language":"ce","value":"\u0431\u043e\u0436\u0430\u0440\u0438\u0439\u043d"},"ne":{"language":"ne","value":"\u092a\u0941\u0930\u0941\u0937"},"hsb":{"language":"hsb","value":"mu\u017e"},"sh":{"language":"sh","value":"mu\u0161karac"},"cy":{"language":"cy","value":"gwrywaidd"},"ckb":{"language":"ckb","value":"\u0646\u06ce\u0631"},"jbo":{"language":"jbo","value":"lo
        nakni"},"kn":{"language":"kn","value":"\u0caa\u0cc1\u0cb0\u0cc1\u0cb7"},"lt":{"language":"lt","value":"vyras"},"ast":{"language":"ast","value":"mascul\u00edn"},"pa":{"language":"pa","value":"\u0a2e\u0a30\u0a26"},"ps":{"language":"ps","value":"\u0646\u0627\u0631\u064a\u0646\u0647"},"ga":{"language":"ga","value":"fireann"},"ia":{"language":"ia","value":"mascule"},"tg":{"language":"tg","value":"\u043c\u0430\u0440\u0434"},"vo":{"language":"vo","value":"manik"},"io":{"language":"io","value":"maskula"},"ku-latn":{"language":"ku-latn","value":"n\u00ear"}},"descriptions":{"fr":{"language":"fr","value":"\u00e9l\u00e9ment
        \u00e0 utiliser dans P21 pour signifier que la personne est de sexe masculin"},"en":{"language":"en","value":"human
        gender (use with property:P21)"},"fi":{"language":"fi","value":"k\u00e4ytet\u00e4\u00e4n
        ominaisuudessa P21 osoittamaan, ett\u00e4 kohteen aihe on miespuolinen"},"en-gb":{"language":"en-gb","value":"to
        be used in Property:P21 to indicate that t[...]
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&ids=Q4932206%7CQ36442%7CQ12882237%7CQ14928422%7CQ464862%7CQ552751%7CQ5%7CQ15241312%7CQ8447%7CQ54919%7CQ18759075%7CQ866%7CQ103204%7CQ1141149%7CQ7349636%7CQ9129%7CQ12880739
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Backend-Timing:
      - D=212028 t=1475754630212822
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 5.148.47.8
    body:
      encoding: ASCII-8BIT
      string: '{"entities":{"Q4932206":{"pageid":4712942,"ns":0,"title":"Q4932206","lastrevid":378836940,"modified":"2016-09-23T23:48:03Z","type":"item","id":"Q4932206","labels":{"ar":{"language":"ar","value":"\u062a\u0634\u0631\u064a\u0639"},"bar":{"language":"bar","value":"Rechtswissnsch\u00e5ft"},"be":{"language":"be","value":"\u042e\u0440\u044b\u0441\u043f\u0440\u0443\u0434\u044d\u043d\u0446\u044b\u044f"},"bg":{"language":"bg","value":"\u042e\u0440\u0438\u0441\u043f\u0440\u0443\u0434\u0435\u043d\u0446\u0438\u044f"},"ca":{"language":"ca","value":"ci\u00e8ncies
        del dret"},"cs":{"language":"cs","value":"pr\u00e1vn\u00ed v\u011bda"},"da":{"language":"da","value":"Retsvidenskab"},"de":{"language":"de","value":"Rechtswissenschaft"},"de-ch":{"language":"de-ch","value":"Rechtswissenschaft"},"el":{"language":"el","value":"\u039d\u03bf\u03bc\u03b9\u03ba\u03ae"},"en":{"language":"en","value":"jurisprudence"},"en-ca":{"language":"en-ca","value":"Jurisprudence"},"en-gb":{"language":"en-gb","value":"jurisprudence"},"eo":{"language":"eo","value":"jurfilozofio"},"es":{"language":"es","value":"jurisprudencia"},"et":{"language":"et","value":"\u00d5igusteadus"},"fi":{"language":"fi","value":"oikeustiede"},"fy":{"language":"fy","value":"Rjochts[...]
