---
http_interactions:
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&ids=Q312340
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Backend-Timing:
      - D=91046 t=1465884221521908
      X-Analytics:
      - https=1;nocookies=1
      X-Client-Ip:
      - 82.38.102.172
    body:
      encoding: UTF-8
      string: '{"entities":{"Q312340":{"pageid":300445,"ns":0,"title":"Q312340","lastrevid":346839977,"modified":"2016-06-14T05:45:13Z","type":"item","id":"Q312340","labels":{"zh-hans":{"language":"zh-hans","value":"\u9a6c\u91cc\u5b89\u00b7\u5362\u666e"},"zh-hant":{"language":"zh-hant","value":"\u99ac\u91cc\u5b89\u00b7\u76e7\u666e"},"zh-hk":{"language":"zh-hk","value":"\u99ac\u91cc\u5b89\u00b7\u76e7\u666e"},"zh-cn":{"language":"zh-cn","value":"\u9a6c\u91cc\u5b89\u00b7\u5362\u666e"},"zh-sg":{"language":"zh-sg","value":"\u9a6c\u91cc\u5b89\u00b7\u5362\u666e"},"zh-tw":{"language":"zh-tw","value":"\u99ac\u91cc\u5b89\u00b7\u76e7\u666e"},"eo":{"language":"eo","value":"Marian
        Lupu"},"pl":{"language":"pl","value":"Marian Lupu"},"ru":{"language":"ru","value":"\u041b\u0443\u043f\u0443,
        \u041c\u0430\u0440\u0438\u0430\u043d \u0418\u043b\u044c\u0438\u0447"},"fr":{"language":"fr","value":"Marian
        Lupu"},"ko":{"language":"ko","value":"\ub9c8\ub9ac\uc548 \ub8e8\ud478"},"sr-el":{"language":"sr-el","value":"Marijan
        Lupu"},"sr-ec":{"language":"sr-ec","value":"\u041c\u0430\u0440\u0438\u0458\u0430\u043d
        \u041b\u0443\u043f\u0443"},"en":{"language":"en","value":"Marian Lupu"},"es":{"language":"es","value":"Marian
        Lupu"},"tr":{"language":"tr","value":"Marian Lupu"},"ro":{"language":"ro","value":"Marian
        Lupu"},"yo":{"language":"yo","value":"Marian Lupu"},"fi":{"language":"fi","value":"Marian
        Lupu"},"hu":{"language":"hu","value":"Marian Lupu"},"uk":{"language":"uk","value":"\u041c\u0430\u0440\u0456\u0430\u043d
        \u041b\u0443\u043f\u0443"},"it":{"language":"it","value":"Marian Lupu"},"et":{"language":"et","value":"Marian
        Lupu"},"de":{"language":"de","value":"Marian Lupu"},"ja":{"language":"ja","value":"\u30de\u30ea\u30a2\u30f3\u30fb\u30eb\u30d7"},"cs":{"language":"cs","value":"Marian
        Lupu"},"bg":{"language":"bg","value":"\u041c\u0430\u0440\u0438\u0430\u043d
        \u041b\u0443\u043f\u0443"},"lt":{"language":"lt","value":"Marian Lupu"},"sv":{"language":"sv","value":"Marian
        Lupu"},"nl":{"language":"nl","value":"Marian Lupu"},"sr":{"language":"sr","value":"\u041c\u0430\u0440\u0438\u0458\u0430\u043d
        \u041b\u0443\u043f\u0443"},"zh":{"language":"zh","value":"\u9a6c\u91cc\u5b89\u00b7\u5362\u666e"},"mo":{"language":"mo","value":"Marian
        Lupu"},"nb":{"language":"nb","value":"Marian Lupu"},"da":{"language":"da","value":"Marian
        Lupu"},"nn":{"language":"nn","value":"Marian Lupu"},"ka":{"language":"ka","value":"\u10db\u10d0\u10e0\u10d8\u10d0\u10dc
        \u10da\u10e3\u10de\u10e3"},"ca":{"language":"ca","value":"Marian Lupu"},"ar":{"language":"ar","value":"\u0645\u0627\u0631\u064a\u0627\u0646
        \u0644\u0648\u0628\u0648"}},"descriptions":{"it":{"language":"it","value":"politico
        moldavo"},"de":{"language":"de","value":"moldawischer Politiker"},"nb":{"language":"nb","value":"moldovsk
        \u00f8konom"},"da":{"language":"da","value":"moldavisk \u00f8konom"},"sv":{"language":"sv","value":"moldovsk
        ekonom"},"nn":{"language":"nn","value":"moldovsk \u00f8konom"},"en":{"language":"en","value":"Moldovan
        politician"},"nl":{"language":"nl","value":"econoom uit Moldavi\u00eb"}},"aliases":{"zh":[{"language":"zh","value":"Marian
        Lupu"}],"ru":[{"language":"ru","value":"\u041c\u0430\u0440\u0438\u0430\u043d
        \u0418\u043b\u044c\u0438\u0447 \u041b\u0443\u043f\u0443"},{"language":"ru","value":"\u041c\u0430\u0440\u0438\u0430\u043d
        \u041b\u0443\u043f\u0443"},{"language":"ru","value":"\u041b\u0443\u043f\u0443,
        \u041c\u0430\u0440\u0438\u0430\u043d"}],"uk":[{"language":"uk","value":"\u041b\u0443\u043f\u0443
        \u041c\u0430\u0440\u0456\u0430\u043d"}]},"claims":{"P21":[{"mainsnak":{"snaktype":"value","property":"P21","datavalue":{"value":{"entity-type":"item","numeric-id":6581097},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"q312340$5A1B38B7-B35F-44EF-B0BC-6B4646B74607","rank":"normal","references":[{"hash":"39f3ce979f9d84a0ebf09abe1702bf22326695e9","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":169514},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]},{"hash":"50f57a3dbac4708ce4ae4a827c0afac7fcdb4a5c","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":11920},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P373":[{"mainsnak":{"snaktype":"value","property":"P373","datavalue":{"value":"Marian
        Lupu","type":"string"},"datatype":"string"},"type":"statement","id":"q312340$6919CDDA-8FA5-4955-A2E4-FA742698F051","rank":"normal","references":[{"hash":"7eb64cf9621d34c54fd4bd040ed4b61a88c4a1a0","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":328},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P102":[{"mainsnak":{"snaktype":"value","property":"P102","datavalue":{"value":{"entity-type":"item","numeric-id":2605592},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"q312340$3C18CD6D-E541-426B-919E-8A3C333CFA14","rank":"normal","references":[{"hash":"7eb64cf9621d34c54fd4bd040ed4b61a88c4a1a0","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":328},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P569":[{"mainsnak":{"snaktype":"value","property":"P569","datavalue":{"value":{"time":"+1966-06-20T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"},"type":"statement","id":"Q312340$5DFF96C3-E7C6-4A99-AC3E-7EAF40DD1FC2","rank":"normal","references":[{"hash":"7eb64cf9621d34c54fd4bd040ed4b61a88c4a1a0","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":328},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]},{"hash":"47e5c39012d85adb21c5d29a46cfa3d069ac3b7f","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":177837},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P27":[{"mainsnak":{"snaktype":"value","property":"P27","datavalue":{"value":{"entity-type":"item","numeric-id":217},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q312340$5E1A3D0C-E333-4A48-9D75-09CA6C27E657","rank":"normal","references":[{"hash":"f70116eac7f49194478b3025330bfd8dcffa3c69","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":8447},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P69":[{"mainsnak":{"snaktype":"value","property":"P69","datavalue":{"value":{"entity-type":"item","numeric-id":1097810},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q312340$FCE546BB-3E21-4417-9470-59B74ACEF8D7","rank":"normal","references":[{"hash":"7eb64cf9621d34c54fd4bd040ed4b61a88c4a1a0","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":328},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P31":[{"mainsnak":{"snaktype":"value","property":"P31","datavalue":{"value":{"entity-type":"item","numeric-id":5},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q312340$AB2002B1-C05A-45AB-9C76-C7954AE208A4","rank":"normal","references":[{"hash":"d6e3ab4045fb3f3feea77895bc6b27e663fc878a","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":206855},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P106":[{"mainsnak":{"snaktype":"value","property":"P106","datavalue":{"value":{"entity-type":"item","numeric-id":188094},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q312340$2309C963-A94A-427A-B3D2-EF5B84EBE5BE","rank":"normal","references":[{"hash":"7eb64cf9621d34c54fd4bd040ed4b61a88c4a1a0","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":328},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]},{"mainsnak":{"snaktype":"value","property":"P106","datavalue":{"value":{"entity-type":"item","numeric-id":82955},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q312340$C9BE41B1-4ABB-44C3-B1EE-5386259B329B","rank":"normal"}],"P19":[{"mainsnak":{"snaktype":"value","property":"P19","datavalue":{"value":{"entity-type":"item","numeric-id":37801},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q312340$70D4223E-5A03-4DD3-BBA4-DD40C69E2135","rank":"normal","references":[{"hash":"d6e3ab4045fb3f3feea77895bc6b27e663fc878a","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":206855},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P18":[{"mainsnak":{"snaktype":"value","property":"P18","datavalue":{"value":"Marian
        Lupu Senate of Poland.JPG","type":"string"},"datatype":"commonsMedia"},"type":"statement","id":"Q312340$E9C0A90A-AD4C-41FA-A078-AC9B778E356A","rank":"normal","references":[{"hash":"d6e3ab4045fb3f3feea77895bc6b27e663fc878a","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":206855},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P646":[{"mainsnak":{"snaktype":"value","property":"P646","datavalue":{"value":"/m/05sxrz0","type":"string"},"datatype":"external-id"},"type":"statement","id":"Q312340$B49DD1EE-7BA4-40BA-832F-7EF063ABD496","rank":"normal","references":[{"hash":"af38848ab5d9d9325cffd93a5ec656cc6ca889ed","snaks":{"P248":[{"snaktype":"value","property":"P248","datavalue":{"value":{"entity-type":"item","numeric-id":15241312},"type":"wikibase-entityid"},"datatype":"wikibase-item"}],"P577":[{"snaktype":"value","property":"P577","datavalue":{"value":{"time":"+2013-10-28T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}]},"snaks-order":["P248","P577"]}]}],"P1343":[{"mainsnak":{"snaktype":"value","property":"P1343","datavalue":{"value":{"entity-type":"item","numeric-id":17290934},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","qualifiers":{"P248":[{"snaktype":"value","property":"P248","hash":"9dc40be4c9180038df37fdafa0c1c7809a64c453","datavalue":{"value":{"entity-type":"item","numeric-id":17316729},"type":"wikibase-entityid"},"datatype":"wikibase-item"}],"P1476":[{"snaktype":"value","property":"P1476","hash":"3d758647fd72883396dd7ad590c960376de5e9c2","datavalue":{"value":{"text":"\u041b\u0443\u043f\u0443,
        \u041c\u0430\u0440\u0438\u0430\u043d","language":"ru"},"type":"monolingualtext"},"datatype":"monolingualtext"}]},"qualifiers-order":["P248","P1476"],"id":"Q312340$85745401-4A21-4FAB-9E77-5A8BC7A99007","rank":"normal"}],"P39":[{"mainsnak":{"snaktype":"value","property":"P39","datavalue":{"value":{"entity-type":"item","numeric-id":18390049},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q312340$AC96976F-3EA0-404A-8BB5-BC3710FCABCA","rank":"normal"},{"mainsnak":{"snaktype":"value","property":"P39","datavalue":{"value":{"entity-type":"item","numeric-id":24576259},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","qualifiers":{"P580":[{"snaktype":"value","property":"P580","hash":"d0b30ea60b16cf2ca5f2138de1f5c9f41a7d3121","datavalue":{"value":{"time":"+2003-08-05T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}],"P582":[{"snaktype":"value","property":"P582","hash":"44faf37d4c7366f0662b9bc61e95ebda12029e72","datavalue":{"value":{"time":"+2005-03-24T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}],"P1366":[{"snaktype":"value","property":"P1366","hash":"47e45094b601a2708721d215f116137a498512a6","datavalue":{"value":{"entity-type":"item","numeric-id":7911407},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"qualifiers-order":["P580","P582","P1366"],"id":"Q312340$7c28b67c-4aed-b56b-bab3-591f18b58030","rank":"normal"}],"P735":[{"mainsnak":{"snaktype":"value","property":"P735","datavalue":{"value":{"entity-type":"item","numeric-id":19688698},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q312340$3E333219-EB16-420C-88FA-826940E96A74","rank":"normal"}]},"sitelinks":{"arwiki":{"site":"arwiki","title":"\u0645\u0627\u0631\u064a\u0627\u0646
        \u0644\u0648\u0628\u0648","badges":[]},"bgwiki":{"site":"bgwiki","title":"\u041c\u0430\u0440\u0438\u0430\u043d
        \u041b\u0443\u043f\u0443","badges":[]},"cawiki":{"site":"cawiki","title":"Marian
        Lupu","badges":[]},"cswiki":{"site":"cswiki","title":"Marian Lupu","badges":[]},"dewiki":{"site":"dewiki","title":"Marian
        Lupu","badges":[]},"enwiki":{"site":"enwiki","title":"Marian Lupu","badges":[]},"eowiki":{"site":"eowiki","title":"Marian
        Lupu","badges":[]},"eswiki":{"site":"eswiki","title":"Marian Lupu","badges":[]},"etwiki":{"site":"etwiki","title":"Marian
        Lupu","badges":[]},"fiwiki":{"site":"fiwiki","title":"Marian Lupu","badges":[]},"frwiki":{"site":"frwiki","title":"Marian
        Lupu","badges":[]},"huwiki":{"site":"huwiki","title":"Marian Lupu","badges":[]},"itwiki":{"site":"itwiki","title":"Marian
        Lupu","badges":[]},"jawiki":{"site":"jawiki","title":"\u30de\u30ea\u30a2\u30f3\u30fb\u30eb\u30d7","badges":[]},"kawiki":{"site":"kawiki","title":"\u10db\u10d0\u10e0\u10d8\u10d0\u10dc
        \u10da\u10e3\u10de\u10e3","badges":[]},"kowiki":{"site":"kowiki","title":"\ub9c8\ub9ac\uc548
        \ub8e8\ud478","badges":[]},"ltwiki":{"site":"ltwiki","title":"Marian Lupu","badges":[]},"plwiki":{"site":"plwiki","title":"Marian
        Lupu","badges":[]},"rowiki":{"site":"rowiki","title":"Marian Lupu","badges":[]},"ruwiki":{"site":"ruwiki","title":"\u041b\u0443\u043f\u0443,
        \u041c\u0430\u0440\u0438\u0430\u043d \u0418\u043b\u044c\u0438\u0447","badges":[]},"srwiki":{"site":"srwiki","title":"\u041c\u0430\u0440\u0438\u0458\u0430\u043d
        \u041b\u0443\u043f\u0443","badges":[]},"svwiki":{"site":"svwiki","title":"Marian
        Lupu","badges":[]},"trwiki":{"site":"trwiki","title":"Marian Lupu","badges":[]},"ukwiki":{"site":"ukwiki","title":"\u041c\u0430\u0440\u0456\u0430\u043d
        \u041b\u0443\u043f\u0443","badges":[]},"yowiki":{"site":"yowiki","title":"Marian
        Lupu","badges":[]},"zhwiki":{"site":"zhwiki","title":"\u9a6c\u91cc\u5b89\u00b7\u5362\u666e","badges":[]}}}},"success":1}'
  recorded_at: Tue, 14 Jun 2016 06:03:42 GMT
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&ids=Q6581097%7CQ169514%7CQ11920%7CQ328%7CQ2605592%7CQ177837%7CQ217%7CQ8447%7CQ1097810%7CQ5%7CQ206855%7CQ188094%7CQ82955%7CQ37801%7CQ15241312%7CQ17290934%7CQ17316729%7CQ18390049%7CQ24576259%7CQ7911407%7CQ19688698
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Backend-Timing:
      - D=485536 t=1465884221870644
      X-Analytics:
      - https=1;nocookies=1
      X-Client-Ip:
      - 82.38.102.172
    body:
      encoding: UTF-8
      string: '{"entities":{"Q6581097":{"pageid":6406677,"ns":0,"title":"Q6581097","lastrevid":345954405,"modified":"2016-06-11T07:22:12Z","type":"item","id":"Q6581097","labels":{"fr":{"language":"fr","value":"masculin"},"en":{"language":"en","value":"male"},"fi":{"language":"fi","value":"mies"},"en-gb":{"language":"en-gb","value":"male"},"it":{"language":"it","value":"maschio"},"de":{"language":"de","value":"m\u00e4nnlich"},"sv":{"language":"sv","value":"man"},"cs":{"language":"cs","value":"mu\u017e"},"zh":{"language":"zh","value":"\u7537\u6027"},"zh-hans":{"language":"zh-hans","value":"\u7537\u6027"},"pl":{"language":"pl","value":"m\u0119\u017cczyzna"},"zh-hant":{"language":"zh-hant","value":"\u7537\u6027"},"ca":{"language":"ca","value":"home"},"pt-br":{"language":"pt-br","value":"masculino"},"ru":{"language":"ru","value":"\u043c\u0443\u0436\u0441\u043a\u043e\u0439"},"uk":{"language":"uk","value":"\u0447\u043e\u043b\u043e\u0432\u0456\u0447\u0430"},"pt":{"language":"pt","value":"masculino"},"el":{"language":"el","value":"\u03ac\u03bd\u03b4\u03c1\u03b1\u03c2"},"lv":{"language":"lv","value":"v\u012brietis"},"nl":{"language":"nl","value":"mannelijk"},"gl":{"language":"gl","value":"home"},"es":{"language":"es","value":"masculino"},"ko":{"language":"ko","value":"\ub0a8\uc131"},"be-tarask":{"language":"be-tarask","value":"\u043c\u0443\u0436\u0447\u044b\u043d\u0441\u043a\u0430\u044f"},"hu":{"language":"hu","value":"f\u00e9rfi"},"af":{"language":"af","value":"man"},"ja":{"language":"ja","value":"\u7537\u6027"},"eu":{"language":"eu","value":"gizonezkoa"},"he":{"language":"he","value":"\u05d6\u05db\u05e8"},"vi":{"language":"vi","value":"nam
        gi\u1edbi"},"id":{"language":"id","value":"pria"},"min":{"language":"min","value":"laki-laki"},"sl":{"language":"sl","value":"mo\u0161ki"},"ka":{"language":"ka","value":"\u10db\u10d0\u10db\u10e0\u10dd\u10d1\u10d8\u10d7\u10d8"},"fa":{"language":"fa","value":"\u0645\u0630\u06a9\u0631"},"ro":{"language":"ro","value":"b\u0103rbat"},"nb":{"language":"nb","value":"mann"},"be":{"language":"be","value":"\u043c\u0443\u0436\u0447\u044b\u043d\u0441\u043a\u0456"},"da":{"language":"da","value":"mand"},"uz":{"language":"uz","value":"erkak"},"sco":{"language":"sco","value":"male"},"mzn":{"language":"mzn","value":"\u0645\u0630\u06a9\u0631"},"sr":{"language":"sr","value":"\u043c\u0443\u0448\u043a\u0438"},"nds":{"language":"nds","value":"Mann"},"bn":{"language":"bn","value":"\u09aa\u09c1\u09b0\u09c1\u09b7"},"bs":{"language":"bs","value":"mu\u0161ki"},"ilo":{"language":"ilo","value":"lalaki"},"br":{"language":"br","value":"paotr"},"sq":{"language":"sq","value":"mashkull"},"nds-nl":{"language":"nds-nl","value":"man"},"la":{"language":"la","value":"masculinus"},"tr":{"language":"tr","value":"erkek"},"hr":{"language":"hr","value":"mu\u0161ko"},"nn":{"language":"nn","value":"mann"},"bg":{"language":"bg","value":"\u043c\u044a\u0436\u043a\u0438"},"th":{"language":"th","value":"\u0e40\u0e1e\u0e28\u0e0a\u0e32\u0e22"},"gu":{"language":"gu","value":"\u0aaa\u0ac1\u0ab0\u0ac1\u0ab7"},"mr":{"language":"mr","value":"\u092a\u0941\u0930\u0942\u0937"},"eo":{"language":"eo","value":"vira"},"oc":{"language":"oc","value":"\u00f2me"},"ta":{"language":"ta","value":"\u0b86\u0ba3\u0bcd"},"mk":{"language":"mk","value":"\u043c\u0430\u0448\u043a\u0438"},"hi":{"language":"hi","value":"\u092a\u0941\u0930\u0941\u0937"},"en-ca":{"language":"en-ca","value":"male"},"rm":{"language":"rm","value":"masculin"},"yi":{"language":"yi","value":"\u05d6\u05db\u05e8"},"yue":{"language":"yue","value":"\u7537"},"zh-cn":{"language":"zh-cn","value":"\u7537\u6027"},"ar":{"language":"ar","value":"\u0630\u0643\u0631"},"tl":{"language":"tl","value":"lalaki"},"is":{"language":"is","value":"karlma\u00f0ur"},"zh-tw":{"language":"zh-tw","value":"\u7537\u6027"},"ksh":{"language":"ksh","value":"m\u00e4nnlesch"},"sk":{"language":"sk","value":"mu\u017e"},"hy":{"language":"hy","value":"\u0561\u0580\u0561\u056f\u0561\u0576"},"gsw":{"language":"gsw","value":"m\u00e4nnli"},"zh-hk":{"language":"zh-hk","value":"\u7537\u6027"},"te":{"language":"te","value":"\u0c2a\u0c41\u0c30\u0c41\u0c37\u0c41\u0c21\u0c41"},"tokipona":{"language":"tokipona","value":"mije"},"or":{"language":"or","value":"\u0b2a\u0b41\u0b30\u0b41\u0b37"},"ml":{"language":"ml","value":"\u0d2a\u0d41\u0d30\u0d41\u0d37\u0d7b"},"lb":{"language":"lb","value":"m\u00e4nnlech"},"sr-el":{"language":"sr-el","value":"mu\u0161ki"},"et":{"language":"et","value":"meessoost"},"fo":{"language":"fo","value":"ma\u00f0ur"},"lez":{"language":"lez","value":"\u0438\u0442\u0438\u043c\u0434\u0438\u043d"},"fy":{"language":"fy","value":"man"},"scn":{"language":"scn","value":"m\u00e0sculu"},"mg":{"language":"mg","value":"lehilahy"},"ce":{"language":"ce","value":"\u0431\u043e\u0436\u0430\u0440\u0438\u0439\u043d"},"ne":{"language":"ne","value":"\u092a\u0941\u0930\u0941\u0937"},"hsb":{"language":"hsb","value":"mu\u017e"},"sh":{"language":"sh","value":"mu\u0161karac"},"cy":{"language":"cy","value":"gwrywaidd"},"ckb":{"language":"ckb","value":"\u0646\u06ce\u0631"},"jbo":{"language":"jbo","value":"lo
        nakni"},"kn":{"language":"kn","value":"\u0caa\u0cc1\u0cb0\u0cc1\u0cb7"},"lt":{"language":"lt","value":"vyras"},"ast":{"language":"ast","value":"mascul\u00edn"},"pa":{"language":"pa","value":"\u0a2e\u0a30\u0a26"},"ps":{"language":"ps","value":"\u0646\u0627\u0631\u064a\u0646\u0647"},"ga":{"language":"ga","value":"fireann"},"ia":{"language":"ia","value":"mascule"}},"descriptions":{"fr":{"language":"fr","value":"\u00e9l\u00e9ment
        \u00e0 utiliser dans P21 pour signifier que la personne est de sexe masculin"},"en":{"language":"en","value":"human
        gender (use with property:P21)"},"fi":{"language":"fi","value":"k\u00e4ytet\u00e4\u00e4n
        ominaisuudessa P21 osoittamaan, ett\u00e4 kohteen aihe on miespuolinen"},"en-gb":{"language":"en-gb","value":"to
        be used in Property:P21 to indicate that the sub[...]
- request:
    method: get
    uri: https://raw.githubusercontent.com/everypolitician/wikidata-fetcher/master/lookup.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"936448745c197b79eeebe7395112200562a7072a"'
      Content-Type:
      - text/plain; charset=utf-8
      X-Fastly-Request-Id:
      - e9e95c77305e5599211dd420f9d0e2c55e8e2c8d
      Source-Age:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        ewogICJza2lwIjogewogICAgIlA3IjogIkJyb3RoZXIiLAogICAgIlA5Ijog
        IlNpc3RlciIsCiAgICAiUDEwIjogInZpZGVvIiwKICAgICJQMTkiOiAiUGxh
        Y2Ugb2YgQmlydGgiLAogICAgIlAyMCI6ICJQbGFjZSBvZiBEZWF0aCIsCiAg
        ICAiUDIyIjogIkZhdGhlciIsCiAgICAiUDI1IjogIk1vdGhlciIsCiAgICAi
        UDI2IjogIlNwb3VzZSIsCiAgICAiUDI3IjogIkNvdW50cnkgb2YgQ2l0aXpl
        bnNoaXAiLAogICAgIlAzMSI6ICJJbnN0YW5jZSBvZiIsCiAgICAiUDM5Ijog
        IlB[...]
