---
http_interactions:
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&ids=Q312894%7CQ13570003
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - https=1;nocookies=1
      X-Client-Ip:
      - 94.117.223.220
    body:
      encoding: UTF-8
      string: '{"entities":{"Q312894":{"pageid":300953,"ns":0,"title":"Q312894","lastrevid":262015326,"modified":"2015-10-24T16:06:07Z","type":"item","id":"Q312894","labels":{"pt":{"language":"pt","value":"Juhan
        Parts"},"zh-hans":{"language":"zh-hans","value":"\u5c24\u6c49\u00b7\u5e15\u8328"},"zh-hant":{"language":"zh-hant","value":"\u5c24\u6f22\u00b7\u5e15\u8328"},"zh-hk":{"language":"zh-hk","value":"\u5c24\u6f22\u00b7\u5e15\u8328"},"zh-cn":{"language":"zh-cn","value":"\u5c24\u6c49\u00b7\u5e15\u8328"},"zh-sg":{"language":"zh-sg","value":"\u5c24\u6c49\u00b7\u5e15\u8328"},"zh-tw":{"language":"zh-tw","value":"\u5c24\u6f22\u00b7\u5e15\u8328"},"pl":{"language":"pl","value":"Juhan
        Parts"},"ru":{"language":"ru","value":"\u041f\u0430\u0440\u0442\u0441, \u042e\u0445\u0430\u043d"},"fr":{"language":"fr","value":"Juhan
        Parts"},"be":{"language":"be","value":"\u042e\u0433\u0430\u043d \u041f\u0430\u0440\u0442\u0441"},"es":{"language":"es","value":"Juhan
        Parts"},"en":{"language":"en","value":"Juhan Parts"},"ro":{"language":"ro","value":"Juhan
        Parts"},"ca":{"language":"ca","value":"Juhan Parts"},"oc":{"language":"oc","value":"Juhan
        Parts"},"fi":{"language":"fi","value":"Juhan Parts"},"uk":{"language":"uk","value":"\u042e\u0445\u0430\u043d
        \u041f\u0430\u0440\u0442\u0441"},"lv":{"language":"lv","value":"Juhans Partss"},"it":{"language":"it","value":"Juhan
        Parts"},"be-tarask":{"language":"be-tarask","value":"\u042e\u0433\u0430\u043d
        \u041f\u0430\u0440\u0442\u0441"},"et":{"language":"et","value":"Juhan Parts"},"de":{"language":"de","value":"Juhan
        Parts"},"cs":{"language":"cs","value":"Juhan Parts"},"io":{"language":"io","value":"Juhan
        Parts"},"lt":{"language":"lt","value":"Juhan Parts"},"nl":{"language":"nl","value":"Juhan
        Parts"},"sk":{"language":"sk","value":"Juhan Parts"},"sl":{"language":"sl","value":"Juhan
        Parts"},"da":{"language":"da","value":"Juhan Parts"},"hr":{"language":"hr","value":"Juhan
        Parts"},"la":{"language":"la","value":"Juhan Parts"},"sv":{"language":"sv","value":"Juhan
        Parts"},"zh":{"language":"zh","value":"\u5c24\u6c49\u00b7\u5e15\u8328"},"nb":{"language":"nb","value":"Juhan
        Parts"},"nn":{"language":"nn","value":"Juhan Parts"},"fa":{"language":"fa","value":"\u06cc\u0648\u0647\u0627\u0646
        \u067e\u0627\u0631\u062a\u0633"},"ka":{"language":"ka","value":"\u10d8\u10e3\u10f0\u10d0\u10dc
        \u10de\u10d0\u10e0\u10e2\u10e1\u10d8"},"tr":{"language":"tr","value":"Juhan
        Parts"}},"descriptions":{"it":{"language":"it","value":"politico estone"},"pl":{"language":"pl","value":"polityk
        esto\u0144ski"},"de":{"language":"de","value":"estnischer Politiker"},"nb":{"language":"nb","value":"estlandsk
        politiker"},"da":{"language":"da","value":"estlandsk politiker"},"nn":{"language":"nn","value":"estlandsk
        politikar"},"sv":{"language":"sv","value":"estl\u00e4ndsk politiker"},"nl":{"language":"nl","value":"Estisch
        politicus"},"en":{"language":"en","value":"Prime Minister of Estonia"},"fa":{"language":"fa","value":"\u0633\u06cc\u0627\u0633\u062a\u200c\u0645\u062f\u0627\u0631
        \u0627\u0647\u0644 \u0627\u0633\u062a\u0648\u0646\u06cc"}},"aliases":{"ru":[{"language":"ru","value":"\u041f\u0430\u0440\u0442\u0441
        \u042e\u0445\u0430\u043d"},{"language":"ru","value":"\u042e\u0445\u0430\u043d
        \u041f\u0430\u0440\u0442\u0441"},{"language":"ru","value":"\u041f\u0430\u0440\u0442\u0441"},{"language":"ru","value":"\u041f\u0430\u0440\u0442\u0441
        \u042e."}],"lv":[{"language":"lv","value":"Partss"},{"language":"lv","value":"Juhan
        Parts"},{"language":"lv","value":"Juhans Perts"},{"language":"lv","value":"Juhans
        Parts"}]},"claims":{"P21":[{"mainsnak":{"snaktype":"value","property":"P21","datavalue":{"value":{"entity-type":"item","numeric-id":6581097},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"q312894$4311E883-B3B2-465B-A547-7E6E60ED26EB","rank":"normal","references":[{"hash":"50f57a3dbac4708ce4ae4a827c0afac7fcdb4a5c","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":11920},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P373":[{"mainsnak":{"snaktype":"value","property":"P373","datavalue":{"value":"Juhan
        Parts","type":"string"},"datatype":"string"},"type":"statement","id":"q312894$E239FE2D-FCCE-4395-B36E-E3A4AB7AA4E0","rank":"normal","references":[{"hash":"d6e3ab4045fb3f3feea77895bc6b27e663fc878a","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":206855},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P569":[{"mainsnak":{"snaktype":"value","property":"P569","datavalue":{"value":{"time":"+1966-08-27T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"},"type":"statement","id":"q312894$2DAF9E1A-5722-4EE3-A090-E8FB356FB0C2","rank":"normal","references":[{"hash":"7eb64cf9621d34c54fd4bd040ed4b61a88c4a1a0","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":328},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P102":[{"mainsnak":{"snaktype":"value","property":"P102","datavalue":{"value":{"entity-type":"item","numeric-id":163347},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"q312894$4393E51A-3A95-4725-A9FD-10F67A6E0322","rank":"normal","references":[{"hash":"7eb64cf9621d34c54fd4bd040ed4b61a88c4a1a0","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":328},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P27":[{"mainsnak":{"snaktype":"value","property":"P27","datavalue":{"value":{"entity-type":"item","numeric-id":191},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q312894$BB48C877-0F01-4EBB-9C27-606C2DFC2858","rank":"normal","references":[{"hash":"f70116eac7f49194478b3025330bfd8dcffa3c69","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":8447},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P69":[{"mainsnak":{"snaktype":"value","property":"P69","datavalue":{"value":{"entity-type":"item","numeric-id":204181},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q312894$E2808D30-789A-4E39-9141-2D0E260EB498","rank":"normal","references":[{"hash":"f70116eac7f49194478b3025330bfd8dcffa3c69","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":8447},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]},{"mainsnak":{"snaktype":"value","property":"P69","datavalue":{"value":{"entity-type":"item","numeric-id":2069101},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q312894$A96C8B98-3F85-42E5-A5FD-CB0559819878","rank":"normal"}],"P31":[{"mainsnak":{"snaktype":"value","property":"P31","datavalue":{"value":{"entity-type":"item","numeric-id":5},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q312894$6E46B5A2-078E-4D5F-94F6-04572020498D","rank":"normal","references":[{"hash":"7eb64cf9621d34c54fd4bd040ed4b61a88c4a1a0","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":328},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P19":[{"mainsnak":{"snaktype":"value","property":"P19","datavalue":{"value":{"entity-type":"item","numeric-id":1770},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q312894$1DB4B68C-96B0-4047-9156-B07498FF5B6B","rank":"normal","references":[{"hash":"7eb64cf9621d34c54fd4bd040ed4b61a88c4a1a0","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":328},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P18":[{"mainsnak":{"snaktype":"value","property":"P18","datavalue":{"value":"Juhan-Parts.jpg","type":"string"},"datatype":"commonsMedia"},"type":"statement","id":"Q312894$C5ABCCE4-0E76-420F-BFB6-6B85E713DCBA","rank":"normal","references":[{"hash":"d6e3ab4045fb3f3feea77895bc6b27e663fc878a","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":206855},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P646":[{"mainsnak":{"snaktype":"value","property":"P646","datavalue":{"value":"/m/01y41c","type":"string"},"datatype":"string"},"type":"statement","id":"Q312894$21434151-7A44-4FFC-AFF5-1534BD90281E","rank":"normal","references":[{"hash":"af38848ab5d9d9325cffd93a5ec656cc6ca889ed","snaks":{"P248":[{"snaktype":"value","property":"P248","datavalue":{"value":{"entity-type":"item","numeric-id":15241312},"type":"wikibase-entityid"},"datatype":"wikibase-item"}],"P577":[{"snaktype":"value","property":"P577","datavalue":{"value":{"time":"+2013-10-28T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}]},"snaks-order":["P248","P577"]}]}],"P106":[{"mainsnak":{"snaktype":"value","property":"P106","datavalue":{"value":{"entity-type":"item","numeric-id":82955},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q312894$DB24AB7E-F1FB-4C82-BBB6-DBE66050B3F4","rank":"normal"}],"P1971":[{"mainsnak":{"snaktype":"value","property":"P1971","datavalue":{"value":{"amount":"+2","unit":"1","upperBound":"+2","lowerBound":"+2"},"type":"quantity"},"datatype":"quantity"},"type":"statement","id":"Q312894$9BE0F5E9-CEA2-443D-9EB7-C2FE6D1920FE","rank":"normal"}],"P39":[{"mainsnak":{"snaktype":"value","property":"P39","datavalue":{"value":{"entity-type":"item","numeric-id":737115},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","qualifiers":{"P580":[{"snaktype":"value","property":"P580","hash":"467c78aef2c6d8afe7804376b43f80702f8799d2","datavalue":{"value":{"time":"+2003-04-10T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}],"P582":[{"snaktype":"value","property":"P582","hash":"c39829ce64be8f5f13e551b0eabe2ad35a1c0c79","datavalue":{"value":{"time":"+2005-04-12T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}],"P1365":[{"snaktype":"value","property":"P1365","hash":"f5a42b47be720bbc35594f22858c08de987a3d42","datavalue":{"value":{"entity-type":"item","numeric-id":156469},"type":"wikibase-entityid"},"datatype":"wikibase-item"}],"P1366":[{"snaktype":"value","property":"P1366","hash":"f407cdcd9520b5a226640c549afaa767cbf57356","datavalue":{"value":{"entity-type":"item","numeric-id":57640},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"qualifiers-order":["P580","P582","P1365","P1366"],"id":"Q312894$36274EDB-908B-4F61-88E2-FE6B44CC0ACF","rank":"normal","references":[{"hash":"7eb64cf9621d34c54fd4bd040ed4b61a88c4a1a0","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":328},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]},{"mainsnak":{"snaktype":"value","property":"P39","datavalue":{"value":{"entity-type":"item","numeric-id":21100241},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q312894$B395FD9F-79C5-4826-8A75-A92DBB16344F","rank":"normal"}],"P463":[{"mainsnak":{"snaktype":"value","property":"P463","datavalue":{"value":{"entity-type":"item","numeric-id":20530392},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q312894$EA2B02B7-C86D-4880-816B-F695B92F4958","rank":"normal"},{"mainsnak":{"snaktype":"value","property":"P463","datavalue":{"value":{"entity-type":"item","numeric-id":967549},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q312894$6B16022B-C5DE-46DB-AEDF-C37EEE497018","rank":"normal"},{"mainsnak":{"snaktype":"value","property":"P463","datavalue":{"value":{"entity-type":"item","numeric-id":3352921},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q312894$A70BE414-FDE0-42C5-99AC-A62B0CC41773","rank":"normal"},{"mainsnak":{"snaktype":"value","property":"P463","datavalue":{"value":{"entity-type":"item","numeric-id":653547},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q312894$16875270-AB82-4147-BA25-70FFD8CE684C","rank":"normal"}],"P166":[{"mainsnak":{"snaktype":"value","property":"P166","datavalue":{"value":{"entity-type":"item","numeric-id":913910},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q312894$3F029A16-8348-4D36-B0B9-1D5F133C438C","rank":"normal","references":[{"hash":"77be84a394b3410b2417da96a29caf02ce185b3e","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":728945},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}]},"sitelinks":{"be_x_oldwiki":{"site":"be_x_oldwiki","title":"\u042e\u0433\u0430\u043d
        \u041f\u0430\u0440\u0442\u0441","badges":[]},"bewiki":{"site":"bewiki","title":"\u042e\u0433\u0430\u043d
        \u041f\u0430\u0440\u0442\u0441","badges":[]},"cawiki":{"site":"cawiki","title":"Juhan
        Parts","badges":[]},"commonswiki":{"site":"commonswiki","title":"Category:Juhan
        Parts","badges":[]},"cswiki":{"site":"cswiki","title":"Juhan Parts","badges":[]},"dawiki":{"site":"dawiki","title":"Juhan
        Parts","badges":[]},"dewiki":{"site":"dewiki","title":"Juhan Parts","badges":[]},"enwiki":{"site":"enwiki","title":"Juhan
        Parts","badges":[]},"eswiki":{"site":"eswiki","title":"Juhan Parts","badges":[]},"etwiki":{"site":"etwiki","title":"Juhan
        Parts","badges":[]},"etwikiquote":{"site":"etwikiquote","title":"Juhan Parts","badges":[]},"fawiki":{"site":"fawiki","title":"\u06cc\u0648\u0647\u0627\u0646
        \u067e\u0627\u0631\u062a\u0633","badges":[]},"fiwiki":{"site":"fiwiki","title":"Juhan
        Parts","badges":[]},"frwiki":{"site":"frwiki","title":"Juhan Parts","badges":[]},"iowiki":{"site":"iowiki","title":"Juhan
        Parts","badges":[]},"itwiki":{"site":"itwiki","title":"Juhan Parts","badges":[]},"kawiki":{"site":"kawiki","title":"\u10d8\u10e3\u10f0\u10d0\u10dc
        \u10de\u10d0\u10e0\u10e2\u10e1\u10d8","badges":[]},"ltwiki":{"site":"ltwiki","title":"Juhan
        Parts","badges":[]},"lvwiki":{"site":"lvwiki","title":"Juhans Partss","badges":[]},"nlwiki":{"site":"nlwiki","title":"Juhan
        Parts","badges":[]},"nowiki":{"site":"nowiki","title":"Juhan Parts","badges":[]},"ocwiki":{"site":"ocwiki","title":"Juhan
        Parts","badges":[]},"plwiki":{"site":"plwiki","title":"Juhan Parts","badges":[]},"ptwiki":{"site":"ptwiki","title":"Juhan
        Parts","badges":[]},"rowiki":{"site":"rowiki","title":"Juhan Parts","badges":[]},"ruwiki":{"site":"ruwiki","title":"\u041f\u0430\u0440\u0442\u0441,
        \u042e\u0445\u0430\u043d","badges":[]},"trwiki":{"site":"trwiki","title":"Juhan
        Parts","badges":[]},"ukwiki":{"site":"ukwiki","title":"\u042e\u0445\u0430\u043d
        \u041f\u0430\u0440\u0442\u0441","badges":[]},"ukwikiquote":{"site":"ukwikiquote","title":"\u042e\u0445\u0430\u043d
        \u041f\u0430\u0440\u0442\u0441","badges":[]},"zhwiki":{"site":"zhwiki","title":"\u5c24\u6c49\u00b7\u5e15\u8328","badges":[]}}},"Q13570003":{"pageid":15243994,"ns":0,"title":"Q13570003","lastrevid":291308080,"modified":"2016-01-12T11:45:15Z","type":"item","id":"Q13570003","labels":{"fi":{"language":"fi","value":"Kadri
        Simson"},"et":{"language":"et","value":"Kadri Simson"},"pl":{"language":"pl","value":"Kadri
        Simson"},"en":{"language":"en","value":"Kadri Simson"}},"descriptions":{},"aliases":{},"claims":{"P31":[{"mainsnak":{"snaktype":"value","property":"P31","datavalue":{"value":{"entity-type":"item","numeric-id":5},[...]
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&ids=Q6581097%7CQ11920%7CQ206855%7CQ328%7CQ163347%7CQ191%7CQ8447%7CQ204181%7CQ2069101%7CQ5%7CQ1770%7CQ15241312%7CQ82955%7CQ737115%7CQ156469%7CQ57640%7CQ21100241%7CQ20530392%7CQ967549%7CQ3352921%7CQ653547%7CQ913910%7CQ728945%7CQ6581072%7CQ1551807
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - https=1;nocookies=1
      X-Client-Ip:
      - 94.117.223.220
    body:
      encoding: UTF-8
      string: '{"entities":{"Q6581097":{"pageid":6406677,"ns":0,"title":"Q6581097","lastrevid":287805780,"modified":"2016-01-01T19:20:23Z","type":"item","id":"Q6581097","labels":{"fr":{"language":"fr","value":"masculin"},"en":{"language":"en","value":"male"},"fi":{"language":"fi","value":"mies"},"en-gb":{"language":"en-gb","value":"male"},"it":{"language":"it","value":"maschio"},"de":{"language":"de","value":"m\u00e4nnlich"},"sv":{"language":"sv","value":"man"},"cs":{"language":"cs","value":"mu\u017e"},"zh":{"language":"zh","value":"\u7537\u6027"},"zh-hans":{"language":"zh-hans","value":"\u7537\u6027"},"pl":{"language":"pl","value":"m\u0119\u017cczyzna"},"zh-hant":{"language":"zh-hant","value":"\u7537\u6027"},"ca":{"language":"ca","value":"home"},"pt-br":{"language":"pt-br","value":"masculino"},"ru":{"language":"ru","value":"\u043c\u0443\u0436\u0441\u043a\u043e\u0439"},"uk":{"language":"uk","value":"\u0447\u043e\u043b\u043e\u0432\u0456\u0447\u0430"},"pt":{"language":"pt","value":"masculino"},"el":{"language":"el","value":"\u03ac\u03bd\u03b4\u03c1\u03b1\u03c2"},"lv":{"language":"lv","value":"v\u012brietis"},"nl":{"language":"nl","value":"mannelijk"},"gl":{"language":"gl","value":"home"},"es":{"language":"es","value":"masculino"},"ko":{"language":"ko","value":"\ub0a8\uc131"},"be-tarask":{"language":"be-tarask","value":"\u043c\u0443\u0436\u0447\u044b\u043d\u0441\u043a\u0430\u044f"},"hu":{"language":"hu","value":"f\u00e9rfi"},"af":{"language":"af","value":"man"},"ja":{"language":"ja","value":"\u7537\u6027"},"eu":{"language":"eu","value":"gizonezkoa"},"he":{"language":"he","value":"\u05d6\u05db\u05e8"},"vi":{"language":"vi","value":"nam
        gi\u1edbi"},"id":{"language":"id","value":"pria"},"min":{"language":"min","value":"laki-laki"},"sl":{"language":"sl","value":"mo\u0161ki"},"ka":{"language":"ka","value":"\u10db\u10d0\u10db\u10e0\u10dd\u10d1\u10d8\u10d7\u10d8"},"fa":{"language":"fa","value":"\u0645\u0630\u06a9\u0631"},"ro":{"language":"ro","value":"b\u0103rbat"},"nb":{"language":"nb","value":"mann"},"be":{"language":"be","value":"\u043c\u0443\u0436\u0447\u044b\u043d\u0441\u043a\u0456"},"da":{"language":"da","value":"mand"},"uz":{"language":"uz","value":"erkak"},"sco":{"language":"sco","value":"male"},"mzn":{"language":"mzn","value":"\u0645\u0630\u06a9\u0631"},"sr":{"language":"sr","value":"\u043c\u0443\u0448\u043a\u0438"},"nds":{"language":"nds","value":"Mann"},"bn":{"language":"bn","value":"\u09aa\u09c1\u09b0\u09c1\u09b7"},"bs":{"language":"bs","value":"mu\u0161ki"},"ilo":{"language":"ilo","value":"lalaki"},"br":{"language":"br","value":"Paotr"},"sq":{"language":"sq","value":"mashkull"},"nds-nl":{"language":"nds-nl","value":"man"},"la":{"language":"la","value":"masculinus"},"tr":{"language":"tr","value":"erkek"},"hr":{"language":"hr","value":"mu\u0161ko"},"nn":{"language":"nn","value":"mann"},"no":{"language":"no","value":"kar"},"bg":{"language":"bg","value":"\u043c\u044a\u0436\u043a\u0438"},"th":{"language":"th","value":"\u0e40\u0e1e\u0e28\u0e0a\u0e32\u0e22"},"gu":{"language":"gu","value":"\u0aaa\u0ac1\u0ab0\u0ac1\u0ab7"},"mr":{"language":"mr","value":"\u092a\u0941\u0930\u0942\u0937"},"eo":{"language":"eo","value":"vira"},"oc":{"language":"oc","value":"\u00f2me"},"ta":{"language":"ta","value":"\u0b86\u0ba3\u0bcd"},"mk":{"language":"mk","value":"\u043c\u0430\u0448\u043a\u0438"},"hi":{"language":"hi","value":"\u092a\u0941\u0930\u0941\u0937"},"en-ca":{"language":"en-ca","value":"male"},"rm":{"language":"rm","value":"masculin"},"yi":{"language":"yi","value":"\u05d6\u05db\u05e8"},"yue":{"language":"yue","value":"\u7537"},"zh-cn":{"language":"zh-cn","value":"\u7537\u6027"},"ar":{"language":"ar","value":"\u0630\u0643\u0631"},"tl":{"language":"tl","value":"lalaki"},"is":{"language":"is","value":"karlma\u00f0ur"},"zh-tw":{"language":"zh-tw","value":"\u7537\u6027"},"ksh":{"language":"ksh","value":"m\u00e4nnlesch"},"sk":{"language":"sk","value":"mu\u017e"},"hy":{"language":"hy","value":"\u0561\u0580\u0561\u056f\u0561\u0576"},"gsw":{"language":"gsw","value":"m\u00e4nnli"},"zh-hk":{"language":"zh-hk","value":"\u7537\u6027"},"te":{"language":"te","value":"\u0c2a\u0c41\u0c30\u0c41\u0c37\u0c41\u0c21\u0c41"},"tokipona":{"language":"tokipona","value":"mije"},"or":{"language":"or","value":"\u0b2a\u0b41\u0b30\u0b41\u0b37"},"ml":{"language":"ml","value":"\u0d2a\u0d41\u0d30\u0d41\u0d37\u0d7b"},"lb":{"language":"lb","value":"m\u00e4nnlech"},"sr-el":{"language":"sr-el","value":"mu\u0161ki"},"et":{"language":"et","value":"meessoost"},"fo":{"language":"fo","value":"ma\u00f0ur"},"lez":{"language":"lez","value":"\u0438\u0442\u0438\u043c\u0434\u0438\u043d"},"fy":{"language":"fy","value":"man"},"scn":{"language":"scn","value":"m\u00e0sculu"},"mg":{"language":"mg","value":"lehilahy"},"ce":{"language":"ce","value":"\u0431\u043e\u0436\u0430\u0440\u0438\u0439\u043d"},"ne":{"language":"ne","value":"\u092a\u0941\u0930\u0941\u0937"},"hsb":{"language":"hsb","value":"mu\u017e"},"sh":{"language":"sh","value":"mu\u0161karac"},"cy":{"language":"cy","value":"gwrywaidd"},"ckb":{"language":"ckb","value":"\u0646\u06ce\u0631"},"jbo":{"language":"jbo","value":"lo
        nakni"},"kn":{"language":"kn","value":"\u0caa\u0cc1\u0cb0\u0cc1\u0cb7"},"lt":{"language":"lt","value":"vyras"},"ast":{"language":"ast","value":"mascul\u00edn"},"pa":{"language":"pa","value":"\u0a2e\u0a30\u0a26"}},"descriptions":{"fr":{"language":"fr","value":"\u00e9l\u00e9ment
        \u00e0 utiliser dans P21 pour signifier que la personne est de sexe masculin"},"en":{"language":"en","value":"human
        who is male (use with Property:P21 sex or gender). For groups of males use
        with subclass of (P279)."},"fi":{"language":"fi","value":"k\u00e4ytet\u00e4\u00e4n
        ominaisuudessa P21 osoittamaan, ett\u00e4 kohteen aihe on miespuolinen"},"en-gb":[...]
- request:
    method: get
    uri: https://raw.githubusercontent.com/everypolitician/wikidata-fetcher/master/lookup.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"3a11979fb35d066d801ccdbff4f0a62766aa0970"'
      Content-Type:
      - text/plain; charset=utf-8
      X-Fastly-Request-Id:
      - de1163796b461da556756140db3483cd0f316e9b
      Source-Age:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        ewogICJ3YW50IjogewogICAgIlAxOCI6ICJpbWFnZSIsCiAgICAiUDIxIjog
        ImdlbmRlciIsCiAgICAiUDIxMyI6ICJpZGVudGlmaWVyX19JU05JIiwKICAg
        ICJQMjE0IjogImlkZW50aWZpZXJfX1ZJQUYiLAogICAgIlAyMjciOiAiaWRl
        bnRpZmllcl9fR05EIiwKICAgICJQMjQ0IjogImlkZW50aWZpZXJfX0xDQXV0
        aCIsCiAgICAiUDI0NSI6ICJpZGVudGlmaWVyX19VTEFOIiwKICAgICJQMjY4
        IjogImlkZW50aWZpZXJfX0JORiIsCiAgICAiUDI2OSI6ICJpZGVudGlmaWVy
        X19[...]
[...]
