---
http_interactions:
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&ids=Q21178739
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Backend-Timing:
      - D=38968 t=1494949871092342
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 5.148.119.11
    body:
      encoding: ASCII-8BIT
      string: '{"entities":{"Q21178739":{"pageid":23225949,"ns":0,"title":"Q21178739","lastrevid":378391819,"modified":"2016-09-23T00:11:14Z","type":"item","id":"Q21178739","labels":{"en":{"language":"en","value":"Michel
        Picard (politician)"},"fr":{"language":"fr","value":"Michel Picard"},"nl":{"language":"nl","value":"Michel
        Picard"}},"descriptions":{"fr":{"language":"fr","value":"consultant, \u00e9crivain
        et homme politique canadien"}},"aliases":{},"claims":{"P31":[{"mainsnak":{"snaktype":"value","property":"P31","datavalue":{"value":{"entity-type":"item","numeric-id":5,"id":"Q5"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q21178739$F9819122-2F4A-449F-90FE-BC7FCA98791E","rank":"normal"}],"P21":[{"mainsnak":{"snaktype":"value","property":"P21","datavalue":{"value":{"entity-type":"item","numeric-id":6581097,"id":"Q6581097"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q21178739$624C559A-D164-45CE-8644-A0D489401BDB","rank":"normal"}],"P735":[{"mainsnak":{"snaktype":"value","property":"P735","datavalue":{"value":{"entity-type":"item","numeric-id":14626626,"id":"Q14626626"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q21178739$769B3BE0-F479-4704-B171-1BEA651EEC7F","rank":"normal"}],"P18":[{"mainsnak":{"snaktype":"value","property":"P18","datavalue":{"value":"Michelpicard2.png","type":"string"},"datatype":"commonsMedia"},"type":"statement","id":"Q21178739$3209914A-FE62-48C0-9C92-7FFE07AA9E54","rank":"normal","references":[{"hash":"d4bd87b862b12d99d26e86472d44f26858dee639","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":8447,"id":"Q8447"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P569":[{"mainsnak":{"snaktype":"value","property":"P569","datavalue":{"value":{"time":"+1960-02-15T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"},"type":"statement","id":"Q21178739$bc3f621e-46ea-bd17-5fef-78a3c2ea87c6","rank":"normal"}],"P27":[{"mainsnak":{"snaktype":"value","property":"P27","datavalue":{"value":{"entity-type":"item","numeric-id":16,"id":"Q16"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q21178739$D10A373C-131C-4CE9-9771-8E1995AED6BE","rank":"normal"}],"P734":[{"mainsnak":{"snaktype":"value","property":"P734","datavalue":{"value":{"entity-type":"item","numeric-id":16881199,"id":"Q16881199"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q21178739$9F62552D-70F7-416C-B801-4809BB473A77","rank":"normal","references":[{"hash":"fa278ebfc458360e5aed63d5058cca83c46134f1","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":328,"id":"Q328"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P69":[{"mainsnak":{"snaktype":"value","property":"P69","datavalue":{"value":{"entity-type":"item","numeric-id":1067935,"id":"Q1067935"},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q21178739$8933ED28-0C45-4484-8169-53F52B3F2DFD","rank":"normal","references":[{"hash":"d4bd87b862b12d99d26e86472d44f26858dee639","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":8447,"id":"Q8447"},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}]},"sitelinks":{"enwiki":{"site":"enwiki","title":"Michel
        Picard","badges":[]},"frwiki":{"site":"frwiki","title":"Michel Picard (homme
        politique)","badges":[]}}}},"success":1}'
  recorded_at: Tue, 16 May 2017 15:51:11 GMT
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&ids=Q5%7CQ6581097%7CQ14626626%7CQ8447%7CQ16%7CQ16881199%7CQ328%7CQ1067935
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Backend-Timing:
      - D=255738 t=1494949871304780
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 5.148.119.11
    body:
      encoding: ASCII-8BIT
      string: '{"entities":{"Q5":{"pageid":133,"ns":0,"title":"Q5","lastrevid":483940105,"modified":"2017-05-10T06:37:09Z","type":"item","id":"Q5","labels":{"en":{"language":"en","value":"human"},"fr":{"language":"fr","value":"\u00eatre
        humain"},"ru":{"language":"ru","value":"\u0447\u0435\u043b\u043e\u0432\u0435\u043a"},"eo":{"language":"eo","value":"homo"},"it":{"language":"it","value":"umano"},"de":{"language":"de","value":"Mensch"},"pl":{"language":"pl","value":"cz\u0142owiek"},"es":{"language":"es","value":"ser
        humano"},"be-tarask":{"language":"be-tarask","value":"\u0447\u0430\u043b\u0430\u0432\u0435\u043a"},"map-bms":{"language":"map-bms","value":"tokoh"},"yue":{"language":"yue","value":"\u4eba"},"lzh":{"language":"lzh","value":"\u4eba"},"sgs":{"language":"sgs","value":"\u017emuogos"},"rup":{"language":"rup","value":"homo
        sapiens"},"nan":{"language":"nan","value":"l\u00e2ng"},"nds-nl":{"language":"nds-nl","value":"Mense"},"vro":{"language":"vro","value":"Inemine"},"en-gb":{"language":"en-gb","value":"human"},"ja":{"language":"ja","value":"\u30d2\u30c8"},"zh-hant":{"language":"zh-hant","value":"\u4eba\u985e"},"fi":{"language":"fi","value":"ihminen"},"hr":{"language":"hr","value":"\u010dovjek"},"pt":{"language":"pt","value":"ser
        humano"},"zh":{"language":"zh","value":"\u4eba\u985e"},"ko":{"language":"ko","value":"\uc0ac\ub78c"},"uz":{"language":"uz","value":"odam"},"af":{"language":"af","value":"mens"},"am":{"language":"am","value":"\u12e8\u1230\u12cd
        \u120d\u1305"},"an":{"language":"an","value":"Homo sapiens"},"ar":{"language":"ar","value":"\u0625\u0646\u0633\u0627\u0646"},"arc":{"language":"arc","value":"\u0712\u072a
        \u0710\u0722\u072b\u0710"},"arz":{"language":"arz","value":"\u0627\u0646\u0633\u0627\u0646"},"ast":{"language":"ast","value":"Homo
        sapiens"},"av":{"language":"av","value":"\u0433\u04c0\u0430\u0434\u0430\u043d"},"ay":{"language":"ay","value":"jaqi"},"az":{"language":"az","value":"\u0130nsan"},"bar":{"language":"bar","value":"Mensch"},"be":{"language":"be","value":"\u0447\u0430\u043b\u0430\u0432\u0435\u043a"},"bg":{"language":"bg","value":"\u0447\u043e\u0432\u0435\u043a"},"bn":{"language":"bn","value":"\u09ae\u09be\u09a8\u09c1\u09b7"},"bo":{"language":"bo","value":"\u0f60\u0f42\u0fb2\u0f7c\u0f0b\u0f56\u0f0b\u0f58\u0f72\u0f0d"},"br":{"language":"br","value":"den"},"bs":{"language":"bs","value":"\u010dovjek"},"ca":{"language":"ca","value":"hum\u00e0"},"cs":{"language":"cs","value":"\u010dlov\u011bk"},"cv":{"language":"cv","value":"\u0442\u0103\u043d\u043b\u0103
        \u00e7\u044b\u043d"},"cy":{"language":"cy","value":"bod dynol"},"da":{"language":"da","value":"menneske"},"diq":{"language":"diq","value":"Merdum"},"el":{"language":"el","value":"\u03ac\u03bd\u03b8\u03c1\u03c9\u03c0\u03bf\u03c2"},"et":{"language":"et","value":"inimene"},"eu":{"language":"eu","value":"gizaki"},"ext":{"language":"ext","value":"Homo
        Sapiens"},"fa":{"language":"fa","value":"\u0627\u0646\u0633\u0627\u0646"},"fo":{"language":"fo","value":"menniskja"},"frp":{"language":"frp","value":"Homo
        sapiens"},"frr":{"language":"frr","value":"Minsk"},"fy":{"language":"fy","value":"minske"},"ga":{"language":"ga","value":"duine"},"gan":{"language":"gan","value":"\u4eba"},"gl":{"language":"gl","value":"ser
        humano"},"glk":{"language":"glk","value":"\u0622\u062f\u0645"},"gn":{"language":"gn","value":"yvyp\u00f3ra"},"gu":{"language":"gu","value":"\u0aae\u0aa8\u0ac1\u0ab7\u0acd\u0aaf"},"ha":{"language":"ha","value":"yan-adam"},"hak":{"language":"hak","value":"ng\u00ecn-lui"},"he":{"language":"he","value":"\u05d0\u05d3\u05dd"},"hi":{"language":"hi","value":"\u092e\u0928\u0941\u0937\u094d\u092f"},"hif":{"language":"hif","value":"insaan"},"ht":{"language":"ht","value":"Homo
        sapiens"},"hu":{"language":"hu","value":"ember"},"hy":{"language":"hy","value":"\u0574\u0561\u0580\u0564"},"ia":{"language":"ia","value":"humano"},"id":{"language":"id","value":"manusia"},"ig":{"language":"ig","value":"m\u00e1du"},"ilo":{"language":"ilo","value":"tao"},"io":{"language":"io","value":"homo"},"is":{"language":"is","value":"ma\u00f0ur"},"iu":{"language":"iu","value":"\u1404\u1483"},"jbo":{"language":"jbo","value":"lo
        remna"},"jv":{"language":"jv","value":"manungsa"},"ka":{"language":"ka","value":"\u10d0\u10d3\u10d0\u10db\u10d8\u10d0\u10dc\u10d8"},"kg":{"language":"kg","value":"muntu"},"kk":{"language":"kk","value":"\u0441\u0430\u043d\u0430\u043b\u044b
        \u0430\u0434\u0430\u043c"},"kn":{"language":"kn","value":"\u0cae\u0cbe\u0ca8\u0cb5"},"koi":{"language":"koi","value":"\u043c\u043e\u0440\u0442"},"ksh":{"language":"ksh","value":"Minsch"},"ku":{"language":"ku","value":"mirov"},"kv":{"language":"kv","value":"\u043c\u043e\u0440\u0442"},"kw":{"language":"kw","value":"tus"},"la":{"language":"la","value":"homo
        sapiens"},"lbe":{"language":"lbe","value":"\u0438\u043d\u0441\u0430\u043d"},"lez":{"language":"lez","value":"\u043a\u0430\u0441"},"li":{"language":"li","value":"mins"},"lij":{"language":"lij","value":"\u00ebse
        uman"},"ln":{"language":"ln","value":"moto"},"lt":{"language":"lt","value":"\u017emogus"},"ltg":{"language":"ltg","value":"cylv\u0101ks"},"lv":{"language":"lv","value":"cilv\u0113ks"},"mdf":{"language":"mdf","value":"\u043b\u043e\u043c\u0430\u043d\u0446\u044c"},"mg":{"language":"mg","value":"olombelona"},"mhr":{"language":"mhr","value":"\u0430\u0439\u0434\u0435\u043c\u0435"},"mk":{"language":"mk","value":"\u0447\u043e\u0432\u0435\u043a"},"ml":{"language":"ml","value":"\u0d2e\u0d28\u0d41\u0d37\u0d4d\u0d2f\u0d7b"},"mn":{"language":"mn","value":"\u0445\u04af\u043d"},"mr":{"language":"mr","value":"\u092e\u093e\u0928\u0935"},"ms":{"language":"ms","value":"manusia"},"mt":{"language":"mt","value":"bniedem"},"mwl":{"language":"mwl","value":"Homo
        sapiens"},"my":{"language":"my","value":"\u101c\u1030"},"nah":{"language":"nah","value":"tl\u0101catl"},"nds":{"language":"nds","value":"Minsch"},"ne":{"language":"ne","value":"\u092e\u093e\u0928\u093f\u0938"},"nl":{"language":"nl","value":"mens"},"nn":{"language":"nn","value":"menneske"},"nov":{"language":"nov","value":"homo
        sapiens"},"oc":{"language":"oc","value":"homo sapiens"},"or":{"language":"or","value":"\u0b2e\u0b23\u0b3f\u0b37"},"os":{"language":"os","value":"\u0430\u0434\u00e6\u0439\u043c\u0430\u0433"},"pms":{"language":"pms","value":"\u00f2m"},"pnb":{"language":"pnb","value":"\u0627\u0646\u0633\u0627\u0646"},"ps":{"language":"ps","value":"\u0627\u0646\u0633\u0627\u0646"},"qu":{"language":"qu","value":"runa"},"ro":{"language":"ro","value":"om"},"rue":{"language":"rue","value":"\u0427\u043e\u043b\u043e\u0432\u0456\u043a
        \u0440\u043e\u0437\u0443\u043c\u043d\u044b\u0439"},"sa":{"language":"sa","value":"\u092e\u0928\u0941\u0937\u094d\u092f\u0903"},"sah":{"language":"sah","value":"\u043a\u0438h\u0438"},"scn":{"language":"scn","value":"\u00e8ssiri
        umanu"},"sco":{"language":"sco","value":"body"},"se":{"language":"se","value":"olmmo\u0161"},"sh":{"language":"sh","value":"\u010dovjek"},"si":{"language":"si","value":"\u0db8\u0dd2\u0db1\u0dd2\u0dc3\u0dcf"},"sk":{"language":"sk","value":"\u010dlovek
        rozumn\u00fd"},"sl":{"language":"sl","value":"\u010dlovek"},"so":{"language":"so","value":"biniaadan"},"sq":{"language":"sq","value":"njeri"},"sr":{"language":"sr","value":"\u0447\u043e\u0432\u0435\u043a"},"su":{"language":"su","value":"manusa"},"sv":{"language":"sv","value":"m\u00e4nniska"},"sw":{"language":"sw","value":"binadamu"},"szl":{"language":"szl","value":"czowjek"},"ta":{"language":"ta","value":"\u0bae\u0ba9\u0bbf\u0ba4\u0bb0\u0bcd"},"te":{"language":"te","value":"\u0c2e\u0c3e\u0c28\u0c35\u0c41\u0c21\u0c41"},"tg":{"language":"tg","value":"\u0438\u043d\u0441\u043e\u043d"},"th":{"language":"th","value":"\u0e21\u0e19\u0e38\u0e29\u0e22\u0e4c"},"tl":{"language":"tl","value":"tao"},"tr":{"language":"tr","value":"insan"},"tt":{"language":"tt","value":"\u043a\u0435\u0448\u0435"},"uk":{"language":"uk","value":"\u043b\u044e\u0434\u0438\u043d\u0430"},"ur":{"language":"ur","value":"\u0627\u0646\u0633\u0627\u0646"},"vec":{"language":"vec","value":"Homo
        sapiens"},"vi":{"language":"vi","value":"ng\u01b0\u1eddi"},"vls":{"language":"vls","value":"mens"},"wa":{"language":"wa","value":"djin"},"war":{"language":"war","value":"tawo"},"xh":{"language":"xh","value":"abantu"},"yi":{"language":"yi","value":"\u05de\u05e2\u05e0\u05d8\u05e9"},"yo":{"language":"yo","value":"\u1ecdm\u1ecdn\u00ecy\u00e0n"},"za":{"language":"za","value":"vunz"},"en-ca":{"language":"en-ca","value":"human"},"de-ch":{"language":"de-ch","value":"Mensch"},"pt-br":{"language":"pt-br","value":"ser
        humano"},"nb":{"language":"nb","value":"menneske"},"zh-hans":{"language":"zh-hans","value":"\u4eba\u7c7b"},"zh-cn":{"language":"zh-cn","value":"\u4eba\u7c7b"},"zh-sg":{"language":"zh-sg","value":"\u4eba\u7c7b"},"zh-my":{"language":"zh-my","value":"\u4eba\u7c7b"},"zh-hk":{"language":"zh-hk","value":"\u4eba\u985e"},"zh-tw":{"language":"zh-tw","value":"\u4eba\u985e"},"zh-mo":{"language":"zh-mo","value":"\u4eba\u985e"},"pa":{"language":"pa","value":"\u0a2e\u0a28\u0a41\u0a71\u0a16"},"ckb":{"language":"ckb","value":"\u0645\u0631\u06c6\u06a4"},"ceb":{"language":"ceb","value":"tawo"},"min":{"language":"min","value":"manusio"},"mzn":{"language":"mzn","value":"\u0622\u062f\u0645"},"vep":{"language":"vep","value":"ristit"},"stq":{"language":"stq","value":"moanske"},"fur":{"language":"fur","value":"omp"},"ks":{"language":"ks","value":"\u0627\u0650\u0646\u0633\u0627\u0646"},"pam":{"language":"pam","value":"tau"},"lb":{"language":"lb","value":"M\u00ebnsch"},"gsw":{"language":"gsw","value":"M\u00e4nsch"},"ace":{"language":"ace","value":"tokoh"},"bxr":{"language":"bxr","value":"\u0443\u0445\u0430\u0430\u043d\u0442\u0430
        \u0445\u04af\u043d"},"sr-el":{"language":"sr-el","value":"\u010dovek"},"cdo":{"language":"cdo","value":"n\u00e8\u0324ng"},"grc":{"language":"grc","value":"\u1f04\u03bd\u03b8\u03c1\u03c9\u03c0\u03bf\u03c2"},"lzz":{"language":"lzz","value":"k''o\u00e7i"},"rm":{"language":"rm","value":"uman"},"mai":{"language":"mai","value":"\u0932\u094b\u0917"},"ak":{"language":"ak","value":"onipa"},"ce":{"language":"ce","value":"\u0430\u0434\u0430\u043c"},"ky":{"language":"ky","value":"\u0430\u0434\u0430\u043c"},"xmf":{"language":"xmf","value":"\u10d0\u10d3\u10d0\u10db\u10d8\u10d4\u10e0\u10d8"},"lo":{"language":"lo","value":"\u0e9c\u0eb9\u0ec9\u0e84\u0ebb\u0e99"},"azb":{"language":"azb","value":"\u0627\u06cc\u0646\u0633\u0627\u0646"},"bho":{"language":"bho","value":"\u092e\u0928\u0941\u0937\u094d\u092f"},"ug":{"language":"ug","value":"\u0626\u0627\u062f\u06d5\u0645"},"sd":{"language":"sd","value":"\u0627\u0646\u0633\u0627\u0646"},"ts":{"language":"ts","value":"vanhu"},"myv":{"language":"myv","value":"\u043b\u043e\u043c\u0430\u043d\u044c"},"vo":{"language":"vo","value":"men"},"new":{"language":"new","value":"\u092e\u0928\u0942"},"ku-latn":{"language":"ku-latn","value":"mirov"},"ba":{"language":"ba","value":"\u043a\u0435\u0448\u0435"},"jam":{"language":"jam","value":"yuuman"},"aeb-arab":{"language":"aeb-arab","value":"\u0639\u0628\u062f"},"as":{"language":"as","value":"\u09ae\u09be\u09a8\u09c1\u09b9"},"ee":{"language":"ee","value":"ame"}},"descriptions":{"en":{"language":"en","value":"human
        as a member of human society; common name of Homo sapiens (Q15978631), unique
        extant species of the genus Homo"},"fr":{"language":"fr","value":"individu
        de l''esp\u00e8ce Homo sapiens (Q15978631) (distinct de  ''humain fictif (Q15632617)''
        et de ''humain possiblement fictif (Q21070568)'')"},"de":{"language":"de","value":"h\u00f6heres
        S\u00e4ugetier aus der Ordnung der Pri[...]
- request:
    method: get
    uri: https://raw.githubusercontent.com/everypolitician/wikidata-fetcher/master/lookup.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"8043a476f2f2ffe7ad5d22926b665c988c2ba94a"'
      Content-Type:
      - text/plain; charset=utf-8
      X-Geo-Block-List:
      - ''
      X-Fastly-Request-Id:
      - ab5c79ce00a6b80363e2f720f0b23990d175271e
      Source-Age:
      - '0'
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        ewogICJza2lwIjogewogICAgIlA3IjogIkJyb3RoZXIiLAogICAgIlA5Ijog
        IlNpc3RlciIsCiAgICAiUDEwIjogInZpZGVvIiwKICAgICJQMTciOiAiQ291
        bnRyeSIsCiAgICAiUDE5IjogIlBsYWNlIG9mIEJpcnRoIiwKICAgICJQMjAi
        OiAiUGxhY2Ugb2YgRGVhdGgiLAogICAgIlAyMiI6ICJGYXRoZXIiLAogICAg
        IlAyNSI6ICJNb3RoZXIiLAogICAgIlAyNiI6ICJTcG91c2UiLAogICAgIlAy
        NyI6ICJDb3VudHJ5IG9mIENpdGl6ZW5zaGlwIiwKICAgICJQMzEiOiAiSW5z
        dGF[...]
