---
http_interactions:
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&ids=Q3785077
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - https=1;nocookies=1
      X-Client-Ip:
      - 94.117.223.220
    body:
      encoding: UTF-8
      string: '{"entities":{"Q3785077":{"pageid":3609161,"ns":0,"title":"Q3785077","lastrevid":285067632,"modified":"2015-12-22T07:44:39Z","type":"item","id":"Q3785077","labels":{"et":{"language":"et","value":"Taavi
        R\u00f5ivas"},"pl":{"language":"pl","value":"Taavi R\u00f5ivas"},"fr":{"language":"fr","value":"Taavi
        R\u00f5ivas"},"sk":{"language":"sk","value":"Taavi R\u00f5ivas"},"sl":{"language":"sl","value":"Taavi
        R\u00f5ivas"},"fi":{"language":"fi","value":"Taavi R\u00f5ivas"},"ca":{"language":"ca","value":"Taavi
        R\u00f5ivas"},"cs":{"language":"cs","value":"Taavi R\u00f5ivas"},"da":{"language":"da","value":"Taavi
        R\u00f5ivas"},"de":{"language":"de","value":"Taavi R\u00f5ivas"},"hr":{"language":"hr","value":"Taavi
        R\u00f5ivas"},"la":{"language":"la","value":"Taavi R\u00f5ivas"},"lt":{"language":"lt","value":"Taavi
        R\u00f5ivas"},"pt":{"language":"pt","value":"Taavi R\u00f5ivas"},"ro":{"language":"ro","value":"Taavi
        R\u00f5ivas"},"sv":{"language":"sv","value":"Taavi R\u00f5ivas"},"he":{"language":"he","value":"\u05d8\u05d0\u05d1\u05d9
        \u05e8\u05d5\u05d9\u05d1\u05e1"},"lv":{"language":"lv","value":"T\u0101vi
        Reivass"},"az":{"language":"az","value":"Taavi Roivas"},"de-ch":{"language":"de-ch","value":"Taavi
        R\u00f5ivas"},"en":{"language":"en","value":"Taavi R\u00f5ivas"},"en-ca":{"language":"en-ca","value":"Taavi
        R\u00f5ivas"},"en-gb":{"language":"en-gb","value":"Taavi R\u00f5ivas"},"es":{"language":"es","value":"Taavi
        R\u00f5ivas"},"it":{"language":"it","value":"Taavi R\u00f5ivas"},"lb":{"language":"lb","value":"Taavi
        R\u00f5ivas"},"oc":{"language":"oc","value":"Taavi R\u00f5ivas"},"ru":{"language":"ru","value":"\u0420\u044b\u0439\u0432\u0430\u0441,
        \u0422\u0430\u0430\u0432\u0438"},"tr":{"language":"tr","value":"Taavi R\u00f5ivas"},"uk":{"language":"uk","value":"\u0422\u0430\u0430\u0432\u0456
        \u0420\u0438\u0439\u0432\u0430\u0441"},"zh":{"language":"zh","value":"\u5854\u7ef4\u00b7\u7f57\u4f0a\u74e6\u65af"},"ie":{"language":"ie","value":"Taavi
        R\u00f5ivas"},"el":{"language":"el","value":"\u03a4\u03ac\u03b1\u03b2\u03b9
        \u03a1\u03bf\u03cd\u03b9\u03b2\u03b1\u03c2"},"nl":{"language":"nl","value":"Taavi
        R\u00f5ivas"},"fa":{"language":"fa","value":"\u062a\u0627\u0648\u06cc \u0631\u0648\u06cc\u0648\u0627\u0633"},"id":{"language":"id","value":"Taavi
        R\u00f5ivas"},"nb":{"language":"nb","value":"Taavi R\u00f5ivas"},"nn":{"language":"nn","value":"Taavi
        R\u00f5ivas"},"io":{"language":"io","value":"Taavi R\u00f5ivas"},"ast":{"language":"ast","value":"Taavi
        R\u00f5ivas"},"vi":{"language":"vi","value":"Taavi R\u00f5ivas"},"ar":{"language":"ar","value":"\u062a\u0627\u0641\u064a
        \u0631\u0648\u064a\u0641\u0627\u0633"},"ta":{"language":"ta","value":"\u0b9f\u0bbe\u0bb5\u0bbf
        \u0bb0\u0bcb\u0baf\u0bbf\u0bb5\u0bbe\u0b9a\u0bc1"},"ko":{"language":"ko","value":"\ud0c0\ube44
        \ub85c\uc774\ubc14\uc2a4"},"ja":{"language":"ja","value":"\u30bf\u30fc\u30f4\u30a3\u30fb\u30ed\u30a4\u30f4\u30a1\u30b9"},"be":{"language":"be","value":"\u0422\u0430\u0430\u0432\u0456
        \u0420\u044b\u0439\u0432\u0430\u0441"},"ka":{"language":"ka","value":"\u10e2\u10d0\u10d0\u10d5\u10d8
        \u10e0\u10d8\u10d8\u10d5\u10d0\u10e1\u10d8"},"mk":{"language":"mk","value":"\u0422\u0430\u0432\u0438
        \u0420\u0438\u0458\u0432\u0430\u0441"}},"descriptions":{"la":{"language":"la","value":"politicus
        Estoniae"},"nb":{"language":"nb","value":"estlandsk politiker"},"da":{"language":"da","value":"estlandsk
        politiker"},"nn":{"language":"nn","value":"estlandsk politikar"},"sv":{"language":"sv","value":"estl\u00e4ndsk
        politiker"},"fa":{"language":"fa","value":"\u0633\u06cc\u0627\u0633\u062a\u200c\u0645\u062f\u0627\u0631
        \u0627\u0647\u0644 \u0627\u0633\u062a\u0648\u0646\u06cc"},"en":{"language":"en","value":"Estonian
        politician"},"el":{"language":"el","value":"\u03c0\u03c1\u03c9\u03b8\u03c5\u03c0\u03bf\u03c5\u03c1\u03b3\u03cc\u03c2
        \u03c4\u03b7\u03c2 \u0395\u03c3\u03b8\u03bf\u03bd\u03af\u03b1\u03c2"},"de":{"language":"de","value":"estnischer
        Politiker, Mitglied des Riigikogu, Ministerpr\u00e4sident"},"zh":{"language":"zh","value":"Estonian
        politician"},"mk":{"language":"mk","value":"\u0435\u0441\u0442\u043e\u043d\u0441\u043a\u0438
        \u043f\u043e\u043b\u0438\u0442\u0438\u0447\u0430\u0440"},"nl":{"language":"nl","value":"politicus
        uit Estland"}},"aliases":{"ru":[{"language":"ru","value":"\u0422\u0430\u0430\u0432\u0438
        \u0420\u044b\u0439\u0432\u0430\u0441"}]},"claims":{"P102":[{"mainsnak":{"snaktype":"value","property":"P102","datavalue":{"value":{"entity-type":"item","numeric-id":738947},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q3785077$0E48E9E4-3796-46E0-9E22-1F9155A81059","rank":"normal","references":[{"hash":"3e9859118d01bc62b5dbe8939be812333eb7c594","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":1551807},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P569":[{"mainsnak":{"snaktype":"value","property":"P569","datavalue":{"value":{"time":"+1979-09-26T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"},"type":"statement","id":"Q3785077$0735C9B8-4A7C-499D-BAA2-E97AEA9067F3","rank":"normal","references":[{"hash":"baeb59aa4da4514dcf71fea9cb1e9c5794d6b44b","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":877583},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P106":[{"mainsnak":{"snaktype":"value","property":"P106","datavalue":{"value":{"entity-type":"item","numeric-id":82955},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q3785077$DD2DB5C4-9319-40CF-B51C-73C1C11E8D59","rank":"normal"}],"P27":[{"mainsnak":{"snaktype":"value","property":"P27","datavalue":{"value":{"entity-type":"item","numeric-id":191},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q3785077$35B55C93-4327-4931-97EB-574FDC7CDED4","rank":"normal"}],"P373":[{"mainsnak":{"snaktype":"value","property":"P373","datavalue":{"value":"Taavi
        R\u00f5ivas","type":"string"},"datatype":"string"},"type":"statement","id":"Q3785077$D7562390-B13C-4AF6-873E-551EFA286D72","rank":"normal","references":[{"hash":"2f183743080f8e1970847d13a04fde9a796f1476","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":191168},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P31":[{"mainsnak":{"snaktype":"value","property":"P31","datavalue":{"value":{"entity-type":"item","numeric-id":5},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q3785077$A2F5897C-F343-498E-B623-825C562BBA3D","rank":"normal","references":[{"hash":"7eb64cf9621d34c54fd4bd040ed4b61a88c4a1a0","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":328},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P21":[{"mainsnak":{"snaktype":"value","property":"P21","datavalue":{"value":{"entity-type":"item","numeric-id":6581097},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q3785077$986BC719-D0F8-431B-9964-3F7A303BC126","rank":"normal"}],"P19":[{"mainsnak":{"snaktype":"value","property":"P19","datavalue":{"value":{"entity-type":"item","numeric-id":1770},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q3785077$8AAD74C0-5EAE-42E2-8C64-215B933C1829","rank":"normal","references":[{"hash":"50f57a3dbac4708ce4ae4a827c0afac7fcdb4a5c","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":11920},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P488":[{"mainsnak":{"snaktype":"value","property":"P488","datavalue":{"value":{"entity-type":"item","numeric-id":738947},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","qualifiers":{"P580":[{"snaktype":"value","property":"P580","hash":"7e1b58ec2ad1f251052f59c7a6490cd675942f0c","datavalue":{"value":{"time":"+2014-04-06T00:00:00Z","timezone":0,"before":0,"after":0,"precision":11,"calendarmodel":"http://www.wikidata.org/entity/Q1985727"},"type":"time"},"datatype":"time"}]},"qualifiers-order":["P580"],"id":"Q3785077$b1a53d8d-49ef-3efe-7c90-3420c2dba083","rank":"normal","references":[{"hash":"b24b5ea1560aa09b383c9d0ef5f8016d95589f22","snaks":{"P143":[{"snaktype":"value","property":"P143","datavalue":{"value":{"entity-type":"item","numeric-id":11918},"type":"wikibase-entityid"},"datatype":"wikibase-item"}]},"snaks-order":["P143"]}]}],"P1412":[{"mainsnak":{"snaktype":"value","property":"P1412","datavalue":{"value":{"entity-type":"item","numeric-id":9072},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q3785077$2cbcdb8a-41d9-1092-12e1-a73d8f67f644","rank":"normal","references":[{"hash":"76febf27069585acc8fb92d9b28ce0d42038aaaa","snaks":{"P854":[{"snaktype":"value","property":"P854","datavalue":{"value":"http://www.hs.fi/ulkomaat/a1395395815874","type":"string"},"datatype":"url"}]},"snaks-order":["P854"]}]},{"mainsnak":{"snaktype":"value","property":"P1412","datavalue":{"value":{"entity-type":"item","numeric-id":1860},"type":"wikibase-entityid"},"datatype":"wikibase-item"},"type":"statement","id":"Q3785077$4ef5f685-460d-9736-d7da-85455d084e1a","rank":"normal","references":[{"hash":"76febf27069585acc8fb92d9b28ce0d42038aaaa","snaks":{"P8[...]
- request:
    method: get
    uri: https://www.wikidata.org/w/api.php?action=wbgetentities&format=json&ids=Q738947%7CQ1551807%7CQ877583%7CQ82955%7CQ191%7CQ191168%7CQ5%7CQ328%7CQ6581097%7CQ1770%7CQ11920%7CQ11918%7CQ9072%7CQ1860%7CQ7737%7CQ1412%7CQ732169%7CQ21100241%7CQ737115%7CQ57640%7CQ967549%7CQ3352921%7CQ204181
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - https=1;nocookies=1
      X-Client-Ip:
      - 94.117.223.220
    body:
      encoding: UTF-8
      string: '{"entities":{"Q738947":{"pageid":695019,"ns":0,"title":"Q738947","lastrevid":284795483,"modified":"2015-12-21T07:16:36Z","type":"item","id":"Q738947","labels":{"zh-hans":{"language":"zh-hans","value":"\u7231\u6c99\u5c3c\u4e9a\u6539\u9769\u515a"},"zh-hant":{"language":"zh-hant","value":"\u611b\u6c99\u5c3c\u4e9e\u6539\u9769\u9ee8"},"zh-hk":{"language":"zh-hk","value":"\u611b\u6c99\u5c3c\u4e9e\u6539\u9769\u9ee8"},"eo":{"language":"eo","value":"Estona
        Reforma Partio"},"pl":{"language":"pl","value":"Esto\u0144ska Partia Reform"},"ru":{"language":"ru","value":"\u041f\u0430\u0440\u0442\u0438\u044f
        \u0440\u0435\u0444\u043e\u0440\u043c \u042d\u0441\u0442\u043e\u043d\u0438\u0438"},"fr":{"language":"fr","value":"Parti
        de la r\u00e9forme"},"sr-el":{"language":"sr-el","value":"Estonska reformska
        partija"},"sr-ec":{"language":"sr-ec","value":"\u0415\u0441\u0442\u043e\u043d\u0441\u043a\u0430
        \u0440\u0435\u0444\u043e\u0440\u043c\u0441\u043a\u0430 \u043f\u0430\u0440\u0442\u0438\u0458\u0430"},"es":{"language":"es","value":"Partido
        Reformista Estonio"},"en":{"language":"en","value":"Estonian Reform Party"},"ro":{"language":"ro","value":"Partidul
        Reformist Eston"},"ca":{"language":"ca","value":"Partit Reformista Estoni\u00e0"},"fi":{"language":"fi","value":"Viron
        reformipuolue"},"lv":{"language":"lv","value":"Igaunijas Reformu partija"},"it":{"language":"it","value":"Partito
        Riformatore Estone"},"et":{"language":"et","value":"Eesti Reformierakond"},"de":{"language":"de","value":"Estnische
        Reformpartei"},"nn":{"language":"nn","value":"Eesti Reformierakond"},"ja":{"language":"ja","value":"\u30a8\u30b9\u30c8\u30cb\u30a2\u6539\u9769\u515a"},"vi":{"language":"vi","value":"\u0110\u1ea3ng
        C\u1ea3i c\u00e1ch Estonia"},"el":{"language":"el","value":"\u0395\u03c3\u03b8\u03bf\u03bd\u03b9\u03ba\u03cc
        \u039c\u03b5\u03c4\u03b1\u03c1\u03c1\u03c5\u03b8\u03bc\u03b9\u03c3\u03c4\u03b9\u03ba\u03cc
        \u039a\u03cc\u03bc\u03bc\u03b1"},"bg":{"language":"bg","value":"\u0415\u0441\u0442\u043e\u043d\u0441\u043a\u0430
        \u0440\u0435\u0444\u043e\u0440\u043c\u0438\u0441\u0442\u043a\u0430 \u043f\u0430\u0440\u0442\u0438\u044f"},"da":{"language":"da","value":"Eesti
        Reformierakond"},"sv":{"language":"sv","value":"Estniska reformpartiet"},"ar":{"language":"ar","value":"\u062d\u0632\u0628
        \u0627\u0644\u0625\u0635\u0644\u0627\u062d \u0627\u0644\u0625\u0633\u062a\u0648\u0646\u064a"},"sr":{"language":"sr","value":"\u0415\u0441\u0442\u043e\u043d\u0441\u043a\u0430
        \u0440\u0435\u0444\u043e\u0440\u043c\u0441\u043a\u0430 \u043f\u0430\u0440\u0442\u0438\u0458\u0430"},"ka":{"language":"ka","value":"\u10d4\u10e1\u10e2\u10dd\u10dc\u10d4\u10d7\u10d8\u10e1
        \u10e0\u10d4\u10e4\u10dd\u10e0\u10db\u10d8\u10e1 \u10de\u10d0\u10e0\u10e2\u10d8\u10d0"},"zh":{"language":"zh","value":"\u7231\u6c99\u5c3c\u4e9a\u6539\u9769\u515a"},"nb":{"language":"nb","value":"Det
        estiske reformpa[...]
