---
http_interactions:
- request:
    method: post
    uri: https://et.wikipedia.org/w/api.php
    body:
      encoding: UTF-8
      string: action=query&cmlimit=500&cmtitle=Kategooria%3AXIII_Riigikogu_liikmed&format=json&list=categorymembers
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - https=1;nocookies=1
      X-Client-Ip:
      - 217.137.227.111
    body:
      encoding: UTF-8
      string: '{"batchcomplete":"","query":{"categorymembers":[{"pageid":246507,"ns":0,"title":"Arto
        Aas"},{"pageid":67385,"ns":0,"title":"Jaak Aaviksoo"},{"pageid":121275,"ns":0,"title":"J\u00fcri
        Adams"},{"pageid":132401,"ns":0,"title":"Raivo Aeg"},{"pageid":370026,"ns":0,"title":"Yoko
        Alender"},{"pageid":401617,"ns":0,"title":"Andres Ammas"},{"pageid":176976,"ns":0,"title":"Andres
        Anvelt"},{"pageid":202723,"ns":0,"title":"Krista Aru"},{"pageid":141621,"ns":0,"title":"Maire
        Aunaste"},{"pageid":222925,"ns":0,"title":"Deniss Borodit\u0161"},{"pageid[...]
- request:
    method: post
    uri: https://et.wikipedia.org/w/api.php
    body:
      encoding: UTF-8
      string: action=query&format=json&pageids=578%7C8256%7C8943%7C14733%7C22834%7C30085%7C30428%7C31574%7C45419%7C51675%7C52009%7C52337%7C57696%7C60130%7C60133%7C63136%7C63280%7C65649%7C67385%7C67929%7C71846%7C74967%7C74989%7C81112%7C84764%7C87617%7C90528%7C94300%7C97771%7C99168%7C99677%7C105268%7C105303%7C108042%7C108044%7C109756%7C109884%7C109966%7C110149%7C110162%7C110947%7C112455%7C112614%7C113166%7C114043%7C116537%7C119605%7C119613%7C119707%7C120264&ppprop=wikibase_item&prop=pageprops&redirects=1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - WMF-Last-Access=21-Jan-2016;https=1
      X-Client-Ip:
      - 217.137.227.111
    body:
      encoding: UTF-8
      string: '{"batchcomplete":"","query":{"pages":{"578":{"pageid":578,"ns":0,"title":"Juhan
        Parts","pageprops":{"wikibase_item":"Q312894"}},"8256":{"pageid":8256,"ns":0,"title":"Hanno
        Pevkur","pageprops":{"wikibase_item":"Q1399218"}},"8943":{"pageid":8943,"ns":0,"title":"Urmas
        Reinsalu","pageprops":{"wikibase_item":"Q645970"}},"14733":{"pageid":14733,"ns":0,"title":"Edgar
        Savisaar","pageprops":{"wikibase_item":"Q355241"}},"22834":{"pageid":22834,"ns":0,"title":"Laine
        Randj\u00e4rv","pageprops":{"wikibase_item":"Q449939"}},"30085":{"pageid":30085,"ns":0,"title":"Aadu
        Must","pageprop[...]
[...]
