---
http_interactions:
- request:
    method: post
    uri: https://en.wikipedia.org/w/api.php
    body:
      encoding: UTF-8
      string: action=query&format=json&ppprop=wikibase_item&prop=pageprops&redirects=1&titles=The+Deeper+Meaning+of+Liff
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Backend-Timing:
      - D=27076 t=1493135079236185
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 5.148.47.8
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"redirects":[{"from":"The Deeper Meaning
        of Liff","to":"The Meaning of Liff"}],"pages":{"79907":{"pageid":79907,"ns":0,"title":"The
        Meaning of Liff","pageprops":{"wikibase_item":"Q875382"}}}}}'
  recorded_at: Tue, 25 Apr 2017 15:44:39 GMT
recorded_with: VCR 3.0.3
