---
http_interactions:
- request:
    method: post
    uri: https://en.wikipedia.org/w/api.php
    body:
      encoding: UTF-8
      string: action=query&cmlimit=500&cmtitle=Category%3AUK+MPs+2015%E2%80%9320&format=json&list=categorymembers
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - https=1;nocookies=1
      X-Client-Ip:
      - 217.137.227.111
    body:
      encoding: UTF-8
      string: '{"batchcomplete":"","continue":{"cmcontinue":"page|515552455348492c205941534d494e0a5941534d494e2051555245534849|27266653","continue":"-||"},"query":{"categorymembers":[{"pageid":46639793,"ns":0,"title":"List
        of MPs elected in the United Kingdom general election, 2015"},{"pageid":46782859,"ns":0,"title":"List
        of United Kingdom MPs by seniority, 2015\u201320"},{"pageid":79409,"ns":0,"title":"Diane
        Abbott"},{"pageid":30464103,"ns":0,"title":"Debbie Abrahams"},{"pageid":27266895,"ns":0,"title":"Nigel
        Adams"},{"pageid":1873667,"ns":0,"title":"Adam Afriyie"},{"pageid":42592035,"ns":0,"title":"Tasmina
        Ahmed-Sheikh"},{"pageid":26657615,"ns":0,"title":"Peter Aldo[...]
[...]
- request:
    method: post
    uri: https://en.wikipedia.org/w/api.php
    body:
      encoding: UTF-8
      string: action=query&format=json&pageids=79409%7C100456%7C159548%7C163684%7C214880%7C215113%7C219787%7C221182%7C224819%7C227341%7C235641%7C293344%7C311079%7C331975%7C351873%7C352474%7C352741%7C354040%7C354361%7C356898%7C357375%7C359553%7C360028%7C367560%7C407867%7C410153%7C410506%7C413358%7C413890%7C413956%7C413976%7C414007%7C414426%7C414428%7C414450%7C414457%7C414463%7C414511%7C414602%7C414618%7C414632%7C414638%7C414659%7C414683%7C414686%7C414689%7C414777%7C414804%7C414818%7C414821&ppprop=wikibase_item&prop=pageprops&redirects=1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - WMF-Last-Access=21-Jan-2016;https=1
      X-Client-Ip:
      - 217.137.227.111
    body:
      encoding: UTF-8
      string: '{"batchcomplete":"","query":{"pages":{"79409":{"pageid":79409,"ns":0,"title":"Diane
        Abbott","pageprops":{"wikibase_item":"Q153454"}},"100456":{"pageid":100456,"ns":0,"title":"Kenneth
        Clarke","pageprops":{"wikibase_item":"Q271889"}},"159548":{"pageid":159548,"ns":0,"title":"Iain
        Duncan Smith","pageprops":{"wikibase_item":"Q302486"}},"163684":{"pageid":163684,"ns":0,"title":"John
        Redwood","pageprops":{"wikibase_item":"Q333846"}},"214880":{"pageid":214880,"ns":0,"title":"Ian
        Paisley, Jr.","pageprops":{"wikibase_item":"Q575881"}},"215113":{"pageid":215113,"ns":0,"title":"Tristram
      [...]
[...]
- request:
    method: post
    uri: https://en.wikipedia.org/w/api.php
    body:
      encoding: UTF-8
      string: action=query&format=json&pageids=46654157%7C46782859&ppprop=wikibase_item&prop=pageprops&redirects=1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Analytics:
      - WMF-Last-Access=21-Jan-2016;https=1
      X-Client-Ip:
      - 217.137.227.111
    body:
      encoding: UTF-8
      string: '{"batchcomplete":"","query":{"pages":{"46654157":{"pageid":46654157,"ns":0,"title":"Jeremy
        Quin","pageprops":{"wikibase_item":"Q19946187"}},"46782859":{"pageid":46782859,"ns":0,"title":"List
        of United Kingdom MPs by seniority, 2015\u201320","pageprops":{"wikibase_item":"Q20312931"}}}}}'
  recorded_at: Thu, 21 Jan 2016 14:51:32 GMT
recorded_with: VCR 3.0.0
