---
http_interactions:
- request:
    method: post
    uri: https://en.wikipedia.org/w/api.php
    body:
      encoding: UTF-8
      string: action=query&format=json&ppprop=wikibase_item&prop=pageprops&redirects=1&titles=Wikkit+Gate%7CInfinite+Improbability+Drive
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Backend-Timing:
      - D=51486 t=1493135233116423
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 5.148.47.8
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"redirects":[{"from":"Infinite Improbability
        Drive","to":"Technology in The Hitchhiker''s Guide to the Galaxy","tofragment":"Infinite
        Improbability Drive"},{"from":"Wikkit Gate","to":"Technology in The Hitchhiker''s
        Guide to the Galaxy","tofragment":"Wikkit gate"}],"pages":{"19728139":{"pageid":19728139,"ns":0,"title":"Technology
        in The Hitchhiker''s Guide to the Galaxy","pageprops":{"wikibase_item":"Q259299"}}}}}'
  recorded_at: Tue, 25 Apr 2017 15:47:13 GMT
recorded_with: VCR 3.0.3
